{% extends "base.html" %}

{% block content %}

<div class="pfeil"><a href="/shop" class="fa-solid fa-arrow-left fa-xl auswahl-back"></a></div>

<br>
<br>

<h1 style="font-size: 30px"><b>Allgemeine Geschäftsbedingungen</b></h1>

<p style="font-size: 30px">Allgemein übernehmen wir keine Haftung für fehlerhafte Bestellungen der Produkte die wir in unserem Onlineshop anbieten. 
Dabei ist zu beachten, dass die Qualität unserer zum verkauf stehenden Produkte variieren kann und die Kühlkette bei unseren angebotenen Kühlwaren,
 wie beispielsweise das Eis, unterbrochen werden kann und die Endqualität die der/die Kunde*in erhält nicht dem Bestellten und versprochenen Wert
  entspricht. Die Qualität die der/die Kunde*in erhält ist nicht mit den Modellbildern in unserem Onlineshop zu vergleichen, da diese Bilder lediglich
   Modellbilder sind, die ein Ideal eines Produktes darstellen sollen. Wir unterstützen keine Cyberkriminalität und prüfen sorgfältig jede Kaufanfrage auf Richtigkeit. Allerdings können bei der Bearbeitung unserer Server durchaus Fehler entstehen, für die wir ebenfalls keine Haftung übernehmen. <br> 
   Die Gebühr für den Telefonanruf bei der Kaktus-Notfall-Hotline liegt bei 0, 5 € pro Anfruf aus dem deutschen Festnetz. Anrufe aus dem deutschen Mobilfunknetz und aus dem Ausland sind gegebenenfalls teurer. Als letzten wichtigen Hinweis sollte beachtet werden, dass zudem keine Haftung bei Verletzungen, die durch eines unserer Produkte verursacht wurden, übernommen wird.
    Daher raten wir zum vorsichtigen Genuss unserer Genussprodukte. 
   <br> 
   <br> 

   Bei Fragen wende dich gerne an unseren <a href="/support" class="link-s"><b></b>Support</b></a>.   </p>


<audio controls>
<source src="{{  url_for('static', filename='img/voice.mp3'  )}}" type="audio/mpeg">


</audio>



{% endblock %}