{% extends "base.html" %}

{% block content %}
   
<div class="form-wrap-profile-change">
    <form action="/auswahl/bestaetigen" method="post" class="pimg-form" enctype="multipart/form-data">
        <input type="radio" name="profilbild" id="1" value="1">
        <input type="radio" name="profilbild" id="2" value="2">
        <input type="radio" name="profilbild" id="3" value="3">
        <input type="radio" name="profilbild" id="4" value="4">
        <input type="radio" name="profilbild" id="5" value="5">
        <input type="radio" name="profilbild" id="6" value="6">
        <input type="radio" name="profilbild" id="7" value="7">
        <input type="radio" name="profilbild" id="8" value="8">
        <input type="radio" name="profilbild" id="9" value="9">
        <input type="radio" name="profilbild" id="10" value="10">
        <input type="radio" name="profilbild" id="11" value="11">
        <input type="radio" name="profilbild" id="12" value="12">
        <input type="radio" name="profilbild" id="13" value="13">
        <input type="radio" name="profilbild" id="14" value="14">
        <input type="radio" name="profilbild" id="15" value="15">
        <input type="radio" name="profilbild" id="16" value="16">
    
    
        <div class="bilder">
            <div class="reihe">
                <label for="1" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/1.jpg')  }}" alt="">
                </label>
                <label for="2" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/2.jpg')  }}" alt="">
                </label>
                <label for="3" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/3.jpg')  }}" alt="">
                </label>
                <label for="4" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/4.jpg')  }}" alt="">
                </label>
            </div>             
            
            <div class="reihe">
                <label for="5" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/5.jpg')  }}" alt="">
                </label>
                <label for="6" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/6.jpg')  }}" alt="">
                </label>
                <label for="7" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/7.jpg')  }}" alt="">
                </label>
                <label for="8" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/8.jpg')  }}" alt="">
                </label>
            </div>
            
            <div class="reihe">
                <label for="9" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/9.jpg')  }}" alt="">
                </label>
                <label for="10" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/10.jpg')  }}" alt="">
                </label>
                <label for="11" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/11.jpg')  }}" alt="">
                </label>
                <label for="12" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/12.jpg')  }}" alt="">
                </label>
            </div>

            <div class="reihe">
                <label for="9" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/13.png')  }}" alt="">
                </label>
                <label for="10" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/fabio.jpg')  }}" alt="">
                </label>
                <label for="11" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/kappe.jpg')  }}" alt="">
                </label>
                <label for="12" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
                    <img src="{{  url_for('static', filename='img/hut.jpg')  }}" alt="">
                </label>
            </div>
        </div>
        
        <div class="submit-wrap">
            <button class="image-selector-submit">Auswählen <i class="fa-solid fa-bread-slice"></i></button>
        </div>
    </form>
</div>

<div class="auswahl-back"><a href="/profil" class="fa-solid fa-arrow-right fa-rotate-180 fa-xl"></a></div>

<!-- <style>
    body, html{
        background-color: var(--bg);
    }

    input[type="radio"]{
        visibility: hidden;
    }

    label, img{
        width: 12vw;
        height: 12vw;
        overflow: hidden;
        border-radius: 50%;
    }

    .bilder{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75vw;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    a{
        text-decoration: none;
    }
</style> -->


{% endblock %}