{% extends "base.html" %}

{% block content %}

    <br><br><br> 
 

   
    <form action="/auswahl/bestaetigen">
    <input type="radio" name="profilbild" id="1">
    <input type="radio" name="profilbild" id="2">
    <input type="radio" name="profilbild" id="3">

    <div class="bilder">
        <label for="1" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
            <img src="{{  url_for('static', filename='img/1.jpg')  }}" alt="">
        </label>
        <label for="2" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
            <img src="{{  url_for('static', filename='img/2.jpg')  }}" alt="">
        </label>
        <label for="3" class="profilbildoption" onmousedown="profilbildAuswaehlen(this)">
            <img src="{{  url_for('static', filename='img/3.jpg')  }}" alt="">
        </label>
    </div>

    <div class="submit-wrap">
        <button class="image-selector-submit">Auswählen</button>
    </div>
</form>

<style>
    body, html{
        background-color: black;
    }

    input[type="radio"]{
        visibility: hidden;
    }

    label, img{
        width: 12vw;
        height: 12vw;
        overflow: hidden;
        border-radius: 50%;
    }

    .bilder{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75vw;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="auswahl-back"><a href="/profil" class="fa-solid fa-arrow-right fa-rotate-180 fa-xl"></a></div>

{% endblock %}