<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MrKaktus</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')  }}">
    <script src="https://kit.fontawesome.com/2339b7a2a3.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{  url_for('static', filename='fav/favicon-32x32.png')  }}" type="image/x-icon">
</head>
<body>
    
    <div class="nav">
        <div class="pc">
            <div class="logo-wrap">
                <h3 class="logo">kaktus</h3>
            </div>
        </div>
        <div class="mob">
            <div class="menu-trigger" id="menu-trigger" onmousedown="triggerMenu()">
                <i class="fa-solid fa-bars trigger-icon"></i>
            </div>
        </div>
        <div class="link-box">
            <a href="/" class="link">Home</a>
            <a href="/shop" class="link">Shop</a>
            <a href="/entdecken" class="link">Entdecken</a>
            <a href="/support" class="link">Kakteen-Support</a>
            <i onmousedown="ausklappen()" id="bell" class="fa-solid fa-bell"></i>

           
            {% if logged_in == True %}
                <a href="/profil">
                    <div class="profile-icon">
                        <!-- <img src="img/profile-icon.jpg" alt="" class="profile-image"> -->
                        <img src="{{  url_for('static', filename='img/d.jpg')  }}" alt="" class="profile-image">
                    </div>
                </a>
            {% else %}
                <div class="profile-icon" onmousedown="trigger_logreg()">
                    <!-- <img src="img/profile-icon.jpg" alt="" class="profile-image"> -->
                    <img src="{{  url_for('static', filename='img/1.jpg')  }}" alt="" class="profile-image">
                </div>
                <div class="logreg-box">
                    <form action="/login" class="logreg-form">
                        <h3 class="logreg-header">Anmelden bei <span class="gradient-text">MrKaktus</span></h3>
                        <input type="text" name="username">
                        <input type="password" name="password">
                        <button type="submit">Anmelden</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="content">

    <!---/Notifikation alert\-------------------------------------------------->  

        <div id="content">

            <div class="contentBoxText">
                <p class="contentBoxText2">_Place Holder_
                    <br> <p class="contentBoxText3"> Hier könnte Ihre Werbung stehen </p>
                </p>
            </div>

            <div class="contentBoxText">
                <p class="contentBoxText2">_Place Holder_
                    <br> <p class="contentBoxText3"> Hier könnte Ihre Werbung stehen </p>
                </p>
            </div>

            <div class="contentBoxText">
                <p class="contentBoxText2">_Place Holder_
                    <br> <p class="contentBoxText3"> Hier könnte Ihre Werbung stehen </p>
                </p>
            </div>

        </div>


    <!---/Notifikation alert [end]\-------------------------------------------->


        {% block content %}
        {% endblock %}
    </div>
    
    <script src="{{  url_for('static', filename='script.js')  }}"></script>

</body>
</html>