{% extends "base.html" %}

{% block content %}

<div class="top-forum-bar">
    <div class="forum-heading">
        <h2>Forum</h2>
    </div>
</div>

<div class="post-container">
    {% set postid = post["_id"] %}
    {% set postcreator = post["creator"] %}
    <div class="post post-new-block">
        <h3 class="post-title">{{  post["title"]  }}
            <p class="post-creator" onmousedown="newUrl('/profil/{{  postcreator  }}')">{{  post["creator"]  }}, am {{  post["date"].strftime("%d/%m/%Y %H:%M:%S")  }}</p>
        </h3>
        <p class="post-question">
            {% for word in post["desc"].split() %}
                {% if "@" in word %}
                    <span class="account-tag">{{  word  }}</span>
                {% else %}
                    {{  word  }}
                {% endif %}
            {% endfor%}
        </p>
        <div class="post-side-icons">
            {% if post["hot"] == True%}
                <p class="hot-post"><i class="fa-solid fa-fire-flame-curved"></i> heißer Beitrag!</p>
            {% else %}
                <p class="cold-post"><i class="fa-solid fa-snowflake"></i> kalter Beitrag!</p>
            {% endif %}
            <p class="post-views"><i class="fa-regular fa-eye"></i> {{  post["clicks"]  }}</p>
        </div>

        <div class="post-interaction-options">
            <div class="like-post" onmousedown="newUrl('/forum/beitrag-liken/{{  postid  }}')">
                {% if data["user_id"] in post["likes"] %}
                    <i class="fa-solid fa-heart liked-heart" style="color: #DB0000;"></i>
                {% else %}
                    <i class="fa-regular fa-heart"></i>
                {% endif %}
                <div class="interaction-option-count">
                    <p class="count">{{  post["likes"]|length  }}</p>
                </div>
            </div>
            <div class="share-post" onmousedown="toggleShareMenu()">
                <i class="fa-regular fa-share-from-square"></i>
                <div class="interaction-option-count">
                    <p class="count">{{  post["shares"]  }}</p>
                </div>
            </div>
            <div class="report-post">
                <i class="fa-regular fa-flag"></i>
            </div>
            {% if data["username"] == post["creator"] %}
                <div class="delete-post" onmousedown="newUrl('/forum/beitrag-loeschen/{{  postid  }}')">
                    <i class="fa-regular fa-trash-can"></i>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="share-popup">
        <div class="share-popup-heading">
            <h2>Beitrag teilen</h2>
            <div class="close-share-popup" onmousedown="toggleShareMenu()">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        {% for friend in data["friends"] %}
        <div class="friend">
            <p class="friend-name">{{  friend  }}</p>
            <div class="share-icon-wrap" onmousedown="newUrl('/forum/beitrag-teilen/{{  postid  }}/{{  friend  }}')">
                <i class="fa-solid fa-bomb"></i>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if action is defined and action == "share" %}
    <style>
        .share-popup{
            display: block;
        }
    </style>
    {% endif %}

    <div class="post-new-block add-comment">
        <form action="/forum/beitrag/{{  postid  }}/kommentar-hinzufuegen" method="post" enctype="multipart/form-data">
            {% if action is defined and action == "comment" %}
            <textarea name="comment" id="comment" required autofocus placeholder="Kommentar hinzufügen"></textarea>
            {% else %}
            <textarea name="comment" id="comment" required placeholder="Kommentar hinzufügen"></textarea>
            {% endif %}
            <button type="submit">Kommentieren</button>
        </form>
    </div>

    {% if post["comments"]|length > 0 %}
    
    <div class="comments post-new-block">
        <h2>Kommentare</h2>
        {% for comment in post["comments"] %}
            <div class="comment">
                <div class="comment-self">
                    {% set comment_creator = comment["creator"] %}
                    <p class="username-comment" onmousedown="newUrl('/profil/{{  comment_creator  }}')">{{  comment["creator"]  }}</p>
                    <p class="comment-text">{{  comment["text"]  }}</p>
                    {% set comment_id = comment["_id"] %}

                    {% if comment["creator_id"] == data["user_id"] %}
                    <i class="fa-regular fa-trash-can comment-like-icon" onmousedown="newUrl('/forum/beitrag/{{  postid  }}/kommentar-loeschen/{{  comment_id  }}')"></i>
                    {% endif %}

                    <p class="reply-btn" onmousedown="showReplyForm('{{  comment_id  }}')">antworten</p>
                
                    <div class="add-comment reply-comment-form-{{  comment_id  }}" style="display: none;">
                        <form action="/forum/beitrag/{{  postid  }}/{{  comment_id  }}/kommentar-antwort" method="post" enctype="multipart/form-data">
                            <input name="comment-reply" id="comment" required placeholder="Kommentar hinzufügen">
                            <button type="submit">Kommentieren</button>
                        </form>
                    </div>

                </div>
                {% if comment["replies"]|length > 0 %}
                <div class="replies">
                    {% for reply in comment["replies"] %}
                    <div class="reply">
                        {% set reply_creator = reply["creator"] %}
                        <p class="username-comment" onmousedown="newUrl('/profil/{{  reply_creator  }}')">{{  reply["creator"]  }}</p>
                        <p class="comment-reply">{{  reply["text"]  }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}