{% extends "base.html" %}

{% block content %}


<h1 class="ueberschrift">Geschafft!</h1>
<br>

<p class="schrift2">Klasse! Du bist jetzt ein echter Kaktuskenner! <br>Versuche es nochmal oder schau dir die anderen tollen Kaktusgames an!</p>

<div class="check">
    <i class="fa-regular fa-circle-check fa-beat checker"></i>
    </div>

    <a href="/quiz">
        <button class="button-e profil-warenkotb-btn">Nochmal</button>
    </a>

    <a href="/">
        <button class="button-e2 profil-warenkotb-btn">Fertig</button>
    </a>
{% endblock %}