{% extends "base.html" %}

{% block content %} 


<h1 class="ueberschrift2">Error 404</h1>

<div class="siren1">
<img src="{{  url_for('static', filename='img/siren.png')  }}" class="siren">
</div>
<div class="siren2">
<img src="{{  url_for('static', filename='img/siren.png')  }}" class="siren">
</div>

<div class="rick">
    <iframe width="1060" height="515" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

{% endblock %}