{% extends "base.html" %}

{% block content %}


<div class="cycler">
    <div class="card act" id="one" data-index="1">
        <div class="gradient"><h2 class="card-title">Klassisches Kaktuseis</h2>
        <p class="text">Das klassische Kaktuseis aus jedermanns Kindheit! Ein echter genuss und die pure Erfrischung im
             heißen, trockenen Hochsommer. Nur für kurze Zeit: Eine Packung mit 9 einzelnen Eissticks für nur 3,50 Euro in unserem <a href="/p1" class="link-e">Shop</a>!!! 
        </p></div>
    </div>
    <div class="card" id="two" data-index="2">
        <div class="g radient"><h2 class="card-title">Mehr Kakteen für den Simulator!</h2>
        <p class="text">Unser Kakteensimulator wurde gerade auf ein neues Level
             gebracht! Jetzt könnt ihr noch mehr verschiedene Kakteenarten anpflanzen und eure eigenen
             Kakteenkreuzungen erschaffen. Seid ihr bereit, eure grünen Daumen zu zeigen?
        </p></div>
    </div>
    <div class="card" id="three" data-index="3">
        <div class="gradient"><h2 class="card-title">Bist du bereit für das Quiz?</h2>
        <p class="text">Wir haben ein tolles neues <a href="/quiz" class="link-e">Quiz</a> für euch! Testet euer Wissen über 
            Kakteen und zeigt, was ihr draufhabt. Mit jeder richtigen Antwort könnt 
            ihr Punkte sammeln und euch in der Bestenliste nach oben kämpfen. Viel Erfolg!
        </p></div>
    </div>
    <div class="card" id="four" data-index="4">
        <div class="gradient"><h2 class="card-title">Topfkakteen Trend</h2>
        <p class="text">Warum immer mehr Menschen zum Topfkaktus tendieren erfähst du <a href="/entdecken" class="link-e">hier</a> unter unserer Rubrik "Entdecken"!
        </p></div>
    </div>
    <div class="card" id="five" data-index="5">
        <div class="g radient"><h2 class="card-title">Schon mal eine Kakteen Safari ausprobiert?</h2>
        <p class="text">Die neuste Touristenattraktion hautnah mit deinem Kakteencoach in Südafrika erleben. Schau mal 
            <a href="/entdecken"><b>hier</b></a> bei unseren Reiseangeboten unter der Rubrick "Entdecken"!
        </p></div>
    </div>
    
    
    
    <a href="/entdecken"></a>
    
    
    
    <div class="arr-icon-wrap">
        <i class="fa-solid fa-right-long"></i>
    </div>
</div>

<div class="welcome-banner mob">
    <h1>Wilkommen bei MrKaktus</h1>
</div>

<div class="overview">
    <div class="icons">
        <div id="goToCon" class="icon">
            <div class="icon-circle">
                <i class="fa-solid fa-gamepad"></i>
            </div>
            <p class="icon-desc">Kaktus-Snake-Game: Bewege und füttere deine Kaktusschlange ohne, dass sie den Rand des Spielfeldes berührt! Probiere jetzt das neue, geniale Singleplayergame exklusiv auf unserer Seite aus!</p>
        </div>
        <div class="icon">
            <div class="icon-circle" onmousedown="newUrl('/entdecken')">
                <i class="fa-solid fa-utensils"></i>
            </a>
            </div>
            <p class="icon-desc">Koch mit Kaktus! Entdecke neue Rezepte und füge eine prickelnde 
                Note zu deinem Essen hinzu. Lerne die mexikanische uns südwestamerikanische Küche von einer ganz anderen Seite kennen!</p>
        </div>
        <div id="goToQuiz" class="icon">
            <div class="icon-circle">
                <i class="fa-solid fa-circle-question"></i>
            </div>
            <p class="icon-desc">Bist du ein echter Kaktus-Kenner? Teste dein Wissen im Kaktus-Quiz und zeig, 
                was du drauf hast! Mach mit und werde zum Kaktus-Experten!</p>
        </div>
        <div id="goToKit" class="icon">
            <div class="icon-circle">
                <i class="fa-solid fa-trowel"></i>
            </div>
            <p class="icon-desc">Baue deinen eigenen Kaktus! Kreiere deine eigenen einzigartigen Kakteen mit unserem Baukasten. 
                Wähle die Form und Farbe und passe ihn nach deinem Geschmack an. 
                Teile deine Meisterwerke mit der Welt und beeindrucke deine Freunde!</p>
        </div>
    </div>
</div>

{% endblock %}