{% extends "base.html" %}

{% block content %}

<div class="cycler">
    <div class="card act" id="one" data-index="1">
        <div class="gradient"><h2 class="card-title">Klassisches Kaktuseis</h2>
        <p class="text">Das klassische Kaktuseis aus jedermanns Kindheit! Ein echter genuss und die pure Erfrischung im
             heißen, trockenen Hochsommer. Nur für kurze Zeit: Eine Packung mit 9 einzelnen Eissticks für nur 3,50 Euro!!! 
        </p></div>
    </div>
    <div class="card" id="two" data-index="2">
        <div class="g radient"><h2 class="card-title">Mehr Kakteen für den Simulator!</h2>
        <p class="text">Unser Kakteensimulator wurde gerade auf ein neues Level
             gebracht! Jetzt könnt ihr noch mehr verschiedene Kakteenarten anpflanzen und eure eigenen
             Kakteenkreuzungen erschaffen. Seid ihr bereit, eure grünen Daumen zu zeigen?
        </p></div>
    </div>
    <div class="card" id="three" data-index="3">
        <div class="gradient"><h2 class="card-title">Bist du bereit für das Quiz?</h2>
        <p class="text">Wir haben ein tolles neues Quiz für euch! Testet euer Wissen über 
            Kakteen und zeigt, was ihr draufhabt. Mit jeder richtigen Antwort könnt 
            ihr Punkte sammeln und euch in der Bestenliste nach oben kämpfen. Viel Erfolg!
        </p></div>
    </div>
    <div class="card" id="four" data-index="4">
        <div class="gradient"><h2 class="card-title">Klassisches Kaktuseis</h2>
        <p class="text">Das klassische Kaktuseis aus jedermanns Kindheit! Ein echter genuss und die pure Erfrischung im
             heißen, trockenen Hochsommer. Nur für kurze Zeit: Eine Packung mit 9 einzelnen Eissticks für nur 3,50 Euro!!! 
        </p></div>
    </div>
    <div class="card" id="five" data-index="5">
        <div class="g radient"><h2 class="card-title">Mehr Kakteen für den Simulator!</h2>
        <p class="text">Unser Kakteensimulator wurde gerade auf ein neues Level
             gebracht! Jetzt könnt ihr noch mehr verschiedene Kakteenarten anpflanzen und eure eigenen
             Kakteenkreuzungen erschaffen. Seid ihr bereit, eure grünen Daumen zu zeigen?
        </p></div>
    </div>
    
    
    
    
    
    
    
    <div class="arr-icon-wrap">
        <i class="fa-solid fa-right-long"></i>
    </div>
</div>

<div class="overview">
    <div class="icons">
        <div class="icon">
            <div class="icon-circle">
                <i class="fa-solid fa-gamepad"></i>
            </div>
            <p class="icon-desc">Pflanze und pflege deinen Kaktus! Wähle deinen Lieblingskaktus 
                und Topf, gib ihm Wasser und Sonne und lass ihn wachsen. 
                Zeig deine grünen Daumen und teile mit Freunden. Mach mit und pflanze jetzt!</p>
        </div>
        <div class="icon">
            <div class="icon-circle">
                <i class="fa-solid fa-utensils"></i>
            </div>
            <p class="icon-desc">Koch mit Kaktus! Entdecke neue Rezepte und füge eine prickelnde 
                Note zu deinem Essen hinzu. Mach mit beim Kaktus-Kochspiel und werde zum Meisterkoch.</p>
        </div>
        <div class="icon" onmousedown="newUrl('/quiz')">
            <div class="icon-circle">
                <i class="fa-solid fa-circle-question"></i>
            </div>
            <p class="icon-desc">Bist du ein echter Kaktus-Kenner? Teste dein Wissen im Kaktus-Quiz und zeig, 
                was du drauf hast! Mach mit und werde zum Kaktus-Experten!</p>
        </div>
        <div class="icon">
            <div class="icon-circle">
                <i class="fa-solid fa-trowel"></i>
            </div>
            <p class="icon-desc">Baue deinen eigenen Kaktus! Kreiere deine eigenen einzigartigen Kakteen mit unserem Baukasten. 
                Wähle die Form und Farbe und passe ihn nach deinem Geschmack an. 
                Teile deine Meisterwerke mit der Welt und beeindrucke deine Freunde!</p>
        </div>
    </div>
</div>

{% endblock %}