{% extends "base.html" %}

 {% block content %}

 <div id="KitBackground">

<div id="navKitDiv">

    <!--Töpfe----------------------------------------------------------------------------->
    <div id="KitToepfe">
        <p class="KitHeadline">Töpfe</p>

        <div class="objKit">
            <img id="kitImg1" class="KitImg KitImgV1" src="../static/img/baukasten/TopfM11.png">
            <div id="CS1" class="ColorSelecter">
                <p onmousedown="clickColor1()" class="KitColor">gepunktet</p>
                <p onmousedown="clickColor2()" class="KitColor">gewellt</p>
                <p onmousedown="clickColor3()" class="KitColor">gestrichelt</p>
                <p onmousedown="clickColor4()" class="KitColor">gezackt</p>
            </div>
        </div>

        <div class="objKit">
            <img id="kitImg2" class="KitImg KitImgV1" src="../static/img/baukasten/TopfM12.png">
            <div id="CS2" class="ColorSelecter">
                <p onmousedown="clickColor11()" class="KitColor">gepunktet</p>
                <p onmousedown="clickColor22()" class="KitColor">gewellt</p>
                <p onmousedown="clickColor33()" class="KitColor">gestrichelt</p>
                <p onmousedown="clickColor44()" class="KitColor">gezackt</p>
            </div>
        </div>

        <div class="objKit">
            <img id="kitImg3" class="KitImg KitImgV1" src="../static/img/baukasten/TopfM13.png">
            <div id="CS3" class="ColorSelecter">
                <p onmousedown="clickColor111()" class="KitColor">gepunktet</p>
                <p onmousedown="clickColor222()" class="KitColor">gewellt</p>
                <p onmousedown="clickColor333()" class="KitColor">gestrichelt</p>
                <p onmousedown="clickColor444()" class="KitColor">gezackt</p>
            </div>
        </div>

        <div class="objKit">
            <img id="kitImg4" class="KitImg KitImgV1" src="../static/img/baukasten/TopfM14.png">
            <div id="CS4" class="ColorSelecter">
                <p onmousedown="clickColor1111()" class="KitColor">gepunktet</p>
                <p onmousedown="clickColor2222()" class="KitColor">gewellt</p>
                <p onmousedown="clickColor3333()" class="KitColor">gestrichelt</p>
                <p onmousedown="clickColor4444()" class="KitColor">gezackt</p>
        </div>
    </div>

    <div id="KitKoeper">
        <p class="KitHeadline">Körper</p>

        <div onmousedown="clickBody1()" class="objKit">
            <img class="KitImg KitImgK" src="../static/img/baukasten/Body1.png">
        </div>

        <div onmousedown="clickBody2()" class="objKit">
            <img class="KitImg KitImgK" src="../static/img/baukasten/Body2.png">
        </div>

        <div onmousedown="clickBody3()" class="objKit">
            <img class="KitImg KitImgK" src="../static/img/baukasten/Body3.png">
        </div>

        <div onmousedown="clickBody4()" class="objKit">
            <img class="KitImg KitImgK" src="../static/img/baukasten/Body4.png">
        </div>
    </div>

    <div id="KitArms">
        <p class="KitHeadline">Arme</p>

        <div onmousedown="clickArm1()" class="objKit">
            <img class="KitImg KitImgA" src="../static/img/baukasten/Arm1.png">
        </div>

        <div onmousedown="clickArm2()" class="objKit">
            <img class="KitImg KitImgA" src="../static/img/baukasten/Arm2.png">
        </div>

        <div onmousedown="clickArm3()" class="objKit">
            <img class="KitImg KitImgA" src="../static/img/baukasten/Arm3.png">
        </div>

        <div onmousedown="clickArm4()" class="objKit">
            <img class="KitImg KitImgA" src="../static/img/baukasten/Arm4.png">
        </div>
    </div>

    <div id="KitHeads">
        <p class="KitHeadline">Köpfe</p>

        <div onmousedown="clickHead1()" class="objKit ">
            <img class="KitImg KitImgH" src="../static/img/baukasten/Kopf1.png">
        </div>

        <div onmousedown="clickHead2()" class="objKit ">
            <img class="KitImg KitImgH" src="../static/img/baukasten/Kopf2.png">
        </div>

        <div onmousedown="clickHead3()" class="objKit ">
            <img class="KitImg KitImgH" src="../static/img/baukasten/Kopf3.png">
        </div>

        <div onmousedown="clickHead4()" class="objKit ">
            <img class="KitImg KitImgH" src="../static/img/baukasten/Kopf4.png">
        </div>
    </div>

    <div id="KitShirts">
        <p class="KitHeadline">T-shirts</p>

        <div onmousedown="clickShirt1()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Shirt1.png">
        </div>

        <div onmousedown="clickShirt2()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Shirt2.png">
        </div>

        <div onmousedown="clickShirt3()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Shirt3.png">
        </div>

        <div onmousedown="clickShirt4()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Shirt4.png">
        </div>

        <div onmousedown="clickShirt5()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Shirt5.png">
        </div>

        <div onmousedown="clickShirt6()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Shirt6.png">
        </div>
    </div>

    <div id="kitHats">
        <p class="KitHeadline">Hüte</p>

        <div onmousedown="clickHat1()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat1.png">
        </div>

        <div onmousedown="clickHat2()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat2.png">
        </div>

        <div onmousedown="clickHat3()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat3.png">
        </div>

        <div onmousedown="clickHat4()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat4.png">
        </div>

        <div onmousedown="clickHat5()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat5.png">
        </div>

        <div onmousedown="clickHat6()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat6.png">
        </div>

        <div onmousedown="clickHat7()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat7.png">
        </div>

        <div onmousedown="clickHat8()" class="objKit ">
            <img class="KitImg " src="../static/img/baukasten/Hat8.png">
        </div>
    </div>

    </div>
</div>


<div id="mainDiv">

    <div class="removeBar">
        <div id="removeAll">
            <p onmousedown="RemoveAllover() " id="Paparazi">Entferne Alles</p>
            <i onmousedown="RemoverAusklappen()" id="removeIcon" class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="onclickRemover">
            <div onmousedown="RemoveT()" class="onclickRemoverOjk" id="removePots">entf Töpfe</div>
            <div onmousedown="RemoveB()" class="onclickRemoverOjk" id="removeBodies">entf Körper</div>
            <div onmousedown="RemoveA()" class="onclickRemoverOjk" id="removeArms">entf Arme</div>
            <div onmousedown="RemoveH()" class="onclickRemoverOjk" id="removeHeads">entf Köpfe</div>
            <div onmousedown="RemoveS()" class="onclickRemoverOjk" id="removeShirts">entf Shirts</div>
            <div onmousedown="RemoveHA()" class="onclickRemoverOjk" id="removeHats">entf Hüte</div>
        </div>

    </div>

    <div id="kitTopf">
        <img id="importImg1" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM11.png">
        <img id="importImg2" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM21.png">
        <img id="importImg3" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM31.png">
        <img id="importImg4" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM41.png">

        <img id="importImg11" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM12.png">
        <img id="importImg22" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM22.png">
        <img id="importImg33" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM32.png">
        <img id="importImg44" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM42.png">

        <img id="importImg111" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM13.png">
        <img id="importImg222" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM23.png">
        <img id="importImg333" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM33.png">
        <img id="importImg444" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM43.png">

        <img id="importImg1111" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM14.png">
        <img id="importImg2222" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM24.png">
        <img id="importImg3333" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM34.png">
        <img id="importImg4444" class="KitImgGame KitImgGameT" src="../static/img/baukasten/TopfM44.png">
    </div>
    <div id="kitBody">
        <img id="importBody1" class="KitImgGame KitImgGameB" src="../static/img/baukasten/Body1.png">
        <img id="importBody2" class="KitImgGame KitImgGameB" src="../static/img/baukasten/Body2.png">
        <img id="importBody3" class="KitImgGame KitImgGameB" src="../static/img/baukasten/Body3.png">
        <img id="importBody4" class="KitImgGame KitImgGameB" src="../static/img/baukasten/Body4.png">
    </div>
    <div id="kitArms">
        <img id="importArm1" class="KitImgGame KitImgGameA" src="../static/img/baukasten/Arm1.png">
        <img id="importArm2" class="KitImgGame KitImgGameA" src="../static/img/baukasten/Arm2.png">
        <img id="importArm3" class="KitImgGame KitImgGameA" src="../static/img/baukasten/Arm3.png">
        <img id="importArm4" class="KitImgGame KitImgGameA" src="../static/img/baukasten/Arm4.png">
    </div>
    <div id="kitHead">
        <img id="importHead1" class="KitImgGame KitImgGameH" src="../static/img/baukasten/Kopf1.png">
        <img id="importHead2" class="KitImgGame KitImgGameH" src="../static/img/baukasten/Kopf2.png">
        <img id="importHead3" class="KitImgGame KitImgGameH" src="../static/img/baukasten/Kopf3.png">
        <img id="importHead4" class="KitImgGame KitImgGameH" src="../static/img/baukasten/Kopf4.png">
    </div>
    <div id="kitShirt">
        <img id="importShirt1" class="KitImgGame KitImgGameS" src="../static/img/baukasten/Shirt1.png">
        <img id="importShirt2" class="KitImgGame KitImgGameS" src="../static/img/baukasten/Shirt2.png">
        <img id="importShirt3" class="KitImgGame KitImgGameS" src="../static/img/baukasten/Shirt3.png">
        <img id="importShirt4" class="KitImgGame KitImgGameS KitImgGameSL" src="../static/img/baukasten/Shirt4.png">
        <img id="importShirt5" class="KitImgGame KitImgGameS KitImgGameSL" src="../static/img/baukasten/Shirt5.png">
        <img id="importShirt6" class="KitImgGame KitImgGameS KitImgGameSL" src="../static/img/baukasten/Shirt6.png">
    </div>
    <div id="kitHat">
        <img id="importHat1" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat1.png">
        <img id="importHat2" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat2.png">
        <img id="importHat3" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat3.png">
        <img id="importHat4" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat4.png">
        <img id="importHat5" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat5.png">
        <img id="importHat6" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat6.png">
        <img id="importHat7" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat7.png">
        <img id="importHat8" class="KitImgGame KitImgGameHA" src="../static/img/baukasten/Hat8.png">
    </div>
    </div>
</div>
</div>

<script src="{{  url_for('static', filename='/Kaktus_baukasten.js')  }}"></script>

{% endblock %}