{% extends "base.html" %}

{% block content %}

<div id="navKitDiv">

    <!--Töpfe----------------------------------------------------------------------------->
    <div id="KitToepfe">
        <p class="KitHeadline">Töpfe</p>

        <div class="objKit">
            <img id="kitImg1" class="KitImg" src="../static/img/1.jpg">
            <div id="CS1" class="ColorSelecter">
                <p onmousedown="clickColor1()" class="KitColor">Grün</p>
                <p onmousedown="clickColor2()" class="KitColor">Blau</p>
                <p onmousedown="clickColor3()" class="KitColor">Rot</p>
                <p onmousedown="clickColor4()" class="KitColor">Gelb</p>
            </div>
        </div>

        <div class="objKit">
            <img id="kitImg2" class="KitImg" src="../static/img/1.jpg">
            <div id="CS2" class="ColorSelecter">
                <p onmousedown="clickColor11()" class="KitColor">Grün</p>
                <p onmousedown="clickColor22()" class="KitColor">Blau</p>
                <p onmousedown="clickColor33()" class="KitColor">Rot</p>
                <p onmousedown="clickColor44()" class="KitColor">Gelb</p>
            </div>
        </div>

        <div class="objKit">
            <img id="kitImg3" class="KitImg" src="../static/img/1.jpg">
            <div id="CS3" class="ColorSelecter">
                <p onmousedown="clickColor111()" class="KitColor">Grün</p>
                <p onmousedown="clickColor222()" class="KitColor">Blau</p>
                <p onmousedown="clickColor333()" class="KitColor">Rot</p>
                <p onmousedown="clickColor444()" class="KitColor">Gelb</p>
            </div>
        </div>

        <div class="objKit">
            <img id="kitImg4" class="KitImg" src="../static/img/1.jpg">
            <div id="CS4" class="ColorSelecter">
                <p onmousedown="clickColor1111()" class="KitColor">Grün</p>
                <p onmousedown="clickColor2222()" class="KitColor">Blau</p>
                <p onmousedown="clickColor3333()" class="KitColor">Rot</p>
                <p onmousedown="clickColor4444()" class="KitColor">Gelb</p>
        </div>
    </div>

    <div id="KitKoeper">
        <p class="KitHeadline">Körper</p>

        <div onmousedown="clickBody1()" class="objKit">
            <img class="KitImg" src="../static/img/2.jpg">
        </div>

        <div onmousedown="clickBody2()" class="objKit">
            <img class="KitImg" src="../static/img/2.jpg">
        </div>

        <div onmousedown="clickBody3()" class="objKit">
            <img class="KitImg" src="../static/img/2.jpg">
        </div>

        <div onmousedown="clickBody4()" class="objKit">
            <img class="KitImg" src="../static/img/2.jpg">
        </div>
    </div>

    </div>
</div>


<div id="mainDiv">
    <div id="kitTopf">
        <img id="importImg1" class="KitImgGame" src="../static/img/Toast.jpg">
        <img id="importImg2" class="KitImgGame" src="../static/img/1.jpg">
        <img id="importImg3" class="KitImgGame" src="../static/img/2.jpg">
        <img id="importImg4" class="KitImgGame" src="../static/img/3.jpg">
    </div>
    <div id="kitBody">
        <img id="importBody1" class="KitImgGame" src="../static/img/10.jpg">
        <img id="importBody2" class="KitImgGame" src="../static/img/11.jpg">
        <img id="importBody3" class="KitImgGame" src="../static/img/13.jpg">
        <img id="importBody4" class="KitImgGame" src="../static/img/14.jpg">
    </div>
    <div id="kitArms">
        <img id="" class="KitImgGame" src="">
    </div>
    <div id="kitHead">
        <img id="" class="KitImgGame" src="">
    </div>
    <div id="kitHat">
        <img id="" class="KitImgGame" src="">
    </div>
</div>


<script src="{{  url_for('static', filename='/Kaktus_baukasten.js')  }}"></script>

{% endblock %}