{% extends "base.html" %}

{% block content %}

<div class="pfeil"><a href="/shop" class="fa-solid fa-arrow-left fa-xl auswahl-back"></a></div>
<p class="ueberschrift">{{  product["name"]  }}</p>

<div class="cards-p1">
<div class="card-p1 act" data-index="1">
    {% set img = "../static/" ~ product["img"] %}
    <div class="gradient-p1" style="background-image: url({{img}}); background-size: cover;">
        <div class="warenkorb-icon-wrap">
            <i class="fa-solid fa-cart-arrow-down fa-bounce"></i>
        </div> 
    </div>
    <h2 class="card-title-p1">{{  product["name"]  }}</h2>
    <p class="text-p1" style="font-size: 18px">{{  product["desc"]  }}
        </br>
        </br>
    </p>
    <div class="anzahl-menu">
       
        <div class="anz"><p class="colin">Anzahl:</p>
        </div>
        
        <form id="wkform" action="/shop/warenkorb/add/{{  num  }}" method="post" enctype="multipart/form-data">
          
             <input type="number" class="anzahl" name="anzahl" min="1" max="2382347" value=100>
            
            
            <!-- <div class="warenkorb-button" > -->
                {% if logged_in == True %}
                <a href="#" onclick="submit()" type="submit">
                    
                    <button class="button-p3 profil-warenkorb-btn2">In den Warenkorb</button>
                </a>
                {% endif %}
            <!-- </div> -->
        </form>
    </div>
    <div class="preis-p11">
    <p class="preis-p1"><b>{{  product["price"]  }}€ <span class="preisprostueck">Preis pro Stück</span></b></p>
    </div>
</div>    

</div>


{% endblock %}