{% extends "base.html" %}

{% block content %}
<!-- <img src="{{  url_for('static', filename='img/1.jpg')  }}" alt=""> -->
<h1 class="ueberschrift">Profil</h1>

<div class="top-leiste">
    <div class="profile-image-container">
        <div class="direct-img-container">
            <!-- <img src="img/profile-icon.jpg" alt="" class="profile-image"> -->
            {% if profile_data["pimg"] is defined and profile_data["pimg"] != None %}
                {% set pimg_url = 'img/' ~  profile_data["pimg"] ~ '.jpg' %}
                <img src="{{  url_for('static', filename=pimg_url)  }}" class="page-profile-image">
            {% else %}
                <img src="{{  url_for('static', filename='img/No-user.jpg')  }}" class="page-profile-image">
            {% endif %}
        </div>
        {% if profile_data["own_profile"] == True %}
        <div class="stift-wrap" onmousedown="newUrl('/auswahl')">
            <i class="fa-solid fa-pencil"></i>
        </div>
        {% endif %}
    </div>

    {% if profile_data["friends"] is defined and data["friends"]|length > 0 %}
        <div class="flp">
            <div class="flp-heading">
                <p>Freunde von {{  profile_data["username"]  }}</p>
                <div class="close-friends-tab" onmousedown="toggleFriendList()">
                    <i class="fa-solid fa-xmark fa-beat" style="color: #fe3471;"></i>
                </div>
            </div>
            {% for friend in profile_data["friends"] %}
            <div class="flp-friend" onmousedown="newUrl('/profil/{{  friend  }}')">
                <p class="friend">{{  friend  }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="info-leiste">
        <div class="info">
            <p class="name">{{  profile_data["username"]  }}</p>
            <p class="id-tag">#{{  profile_data["user_id"]  }}</p>

            {% if profile_data["friends"] is defined and profile_data["friends"]|length > 0 %}
                <p class="freunde" onmousedown="toggleFriendList()">Freunde: {{  profile_data["friends"]|length  }}</p>
            {% else %}
                <p class="freunde">Hat keine Freunde</p>
            {% endif %}

        </div>
        <div class="interaction-options">
            {% if profile_data["own_profile"] == True %}
            <p class="logout logout-text-btn" onmousedown="newUrl('/logout')">Logout</p>
            {% else %}
            {% set uname = profile_data["username"] %}
            {% set userid = profile_data["user_id"] %}
            
            {% if profile_data["username"] not in data["friends"] %}
            <button class="add" onmousedown="newUrl('/freund-hinzufuegen/{{  uname  }}')"><i class="fa-solid fa-user-group"></i> Freund hinzufügen</button>
            {% else %}
            <button class="add" disabled onmousedown="newUrl('/freund-hinzufuegen/{{  uname  }}')"><i class="fa-solid fa-user-group"></i> Freund hinzugefügt</button>
            {% endif %}

            <button class="report" onmousedown="newUrl('/profil/melden/{{userid}}')"><i class="fa-solid fa-flag"></i> Melden</button>
            {% endif %}
        </div>
        {% if profile_data["own_profile"] == True %}
            <div class="settings-icon-wrap" onmousedown="openSettings()">
                <i class="fa-solid fa-gear"></i>
            </div>
        {% endif %}
    </div>
</div>

{% if profile_data["own_profile"] == True %}
<a href="/shop/warenkorb">
    <button class="button-p2 profil-warenkotb-btn">Mein Warenkorb</button>
</a>
{% endif %}

{% if profile_data["own_profile"] == True %}
    <div class="settings" id="settings">
        <div class="settings-menu" id="settings-menu">
            <div class="heading">
                <p class="settings-title">Einstellungen</p>
                <div class="close-icon-wrap" onmousedown="openSettings()">
                    <i class="fa-solid fa-xmark fa-beat" style="color: #fe3471;"></i>
                </div>
            </div>
            <div class="option">
                <p class="option-text" onmousedown="togglePasswordChange()">Passwort ändern</p>
            </div>
            <div class="option" onmousedown="newUrl('/delete-account')">
                <p class="option-text">Lightmode aktivieren</p>
            </div>
            <div class="option" onmousedown="newUrl('/logout')">
                <p class="option-text" style="color: red;">Logout</p>
            </div>
        </div>
        <div class="password-change" id="password-change">
            <div class="heading">
                <p class="settings-title">Passwort ändern</p>
                <div class="close-icon-wrap" onmousedown="openSettings()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" action="/change-password">
                <input type="password" name="newpw" id="newpw">
                <button type="submit" class="pw-change-btn">Ändern</button>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}