{% extends "base.html" %}

{% block content %}



<h1 class="ueberschrift">Shop</h1>

<div class="cards-container">
    {% for product in products %}
        <div class="card-s act" data-index="2">
            {% set img = "../static/" ~ product["img"] %}
            <div class="gradient-s"style="background-image: url({{img}}); background-size: cover;">
                <div class="warenkorb-icon-wrap">
                    <a  href="/p1"><i class="fa-solid fa-cart-arrow-down fa-bounce"></i> </a>
                </div> 
            </div>
            <h2 class="card-title-s">{{  product["name"]  }}</h2>
            <p class="text-s" style="font-size: 18px">{{  product["desc"]  }}<br><br></p>
            <p class="preis-s"><b>{{  product["price"]  }}</b></p>
        </div> 
    {% endfor %}
</div>

<br><br><a href="/shop/agb" class="link-s"><b>Allgemeine Geschäftsbedingungen</b></a><br><br>

          
{% endblock %}