{% extends "base.html" %}

{% block content %}

<p class="schrift1"><b>Hilfe, mein Kaktus ist krank!</b></p>

<br>

<p class="schrift2">Du hast dieses oder weitere Probleme? Ruf einfach bei unserem Kaktussupport an und schildere dein Problem. Unser starkes Team wird dir dann präzise und sofort erklären können, was du zu tun hast um <b>deinen Kaktus</b>  wieder gesund zu bekommen! Natürlich stehen wir auch bei fragen zu unserer Website gerne zur Verfügung und bieten dir Unterstützung bei der Auswahl der Produkte aus unserem Shop! </p> 

{% endblock %}