{% extends "base.html" %}

{% block content %}

<div class="auswahl-back"><a href="/profil" class="fa-solid fa-arrow-right fa-rotate-180 fa-xl"></a></div>

<h1 class="ueberschrift">Mein Warenkorb</h1>


<p class="text2-w"><b>Anzahl</b></p>

<p class="text2-w2"><b>Preis</b></p>

<p class="text2-w3"><b>Produkt</b></p>

<a a href="/profil"><p class="text2-w4"><b>Profil</b></p></a>
 

<div class="content-w">
<div id="content-w"></div>


  <div class="contentBoxText-w">
   <p class="contentBoxText2-w">Produkt Nr. 1
       <br> <p class="contentBoxText3-w"> Beschreibung </p>
       <p class="img-w">IIII</p>
   </p>
  </div>

  <br>

  <div class="contentBoxText-w">
   <p class="contentBoxText2-w">Produkt Nr. 2
       <br> <p class="contentBoxText3-w"> Beschreibung </p>
       <p class="img-w2">IIII</p>
   </p>
  </div>
  

</div>
</div>


{% endblock %}