{% extends "base.html" %}

{% block content %}


{% if logged_in == True %}
<div class="pfeil"><a href="/profil" class="fa-solid fa-arrow-left fa-xl auswahl-back"></a></div>
{% endif %}
<h1 class="ueberschrift">Mein Warenkorb</h1>

<div class="pap-headers">
  <p class="text2-w3"><b>Produkt</b></p>
  <p class="text2-w2" onmousedown="p1()"><b>Preis (in €)</b></p>
  <p class="text2-w"><b>Anzahl</b></p>
</div>

{% if logged_in == True %}
<a a href="/profil"><p class="text2-w4">Profil</p></a>
{% endif %} 

<div class="content-w">
<div id="content-w">  
  {% for product in warenkorb %}
  {% set num = product["num"] %}
  <div class="warenkorb-item" onmousedown="newUrl('/produkt/{{num}}')">
    <div class="korb-info-wrap">
      <p class="name">{{  product['name']  }}</p>
      <p class="preis">{{  product['price']*product['quantity']|int }}</p>
      <p class="quantity">{{  product['quantity']  }}</p>
    </div>
    <div class="korb-img-wrap">
      {% set img = product['img'] %}
      <img src="{{  url_for('static', filename=img)  }}" alt="Hier sollte ein Bild von '{{  product['name']  }}' sein...">
    </div>
  </div>
  {% endfor %}
</div>

</div>
</div>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>


<br>
<br>


<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<p class="text2-w5">Noch nicht genug im Warenkorb? Shoppe einfach <a href="/shop"><b>hier</b></a> weiter um weitere tolle Produkte zu erwerben! </p>





{% if logged_in == True %}
<a href="/weiter1">
  <button class="button-profil">Bezahlen</button>
</a>
{% endif %}
<br>
<br>
<br>

{% endblock %}