*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



.game{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    left: 100px;
    background-color: lightgreen;
    position:relative;
    top: 450px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 450px;}
    10%{top: 430px;}
    20%{top: 410px;}
    30%{top: 390px;}
    40%{top: 370px;}
    50%{top: 350px;}
    60%{top: 350px;}
    70%{top: 360px;}
    80%{top: 380px;}
    90%{top: 410px;}
    100%{top: 450px;}
}

#block{
    background-color: green;
    width: 20px;
    height: 20px;
    position: relative;
    top: 430px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 900px}
    100%{left: 480px}
}
p{
    text-align: center;
}