@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Unbounded:wght@700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: var(--fg);
}

::selection{
    background: var(--ac);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 5px;
}


::-webkit-scrollbar-thumb{
    background: var(--ac);
}

:root{
    --bg: #202020;
    --fg: #EEEEEE;
    --ac2: #B3E34F;
    --ac: #A0CE40;
    --lrpad: 2.5vw;
}

img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

body, html{
    margin: 0px;
    padding: 0px;
    background: var(--bg);
    overflow-x: hidden;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 7.5vh;
    z-index: 100;
    background-color: var(--bg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ac);
    justify-content: space-between;
    padding: 0 var(--lrpad);
}

.nav .link-box{
    display: flex;
    justify-content: space-between;
    min-width: 40%;
    align-items: center;
}

.nav .link-box a{
    text-decoration: none;
}

.nav .logo-wrap .logo{
    font-family: 'Unbounded';
    font-size: 30px;
    color: var(--ac);
    letter-spacing: 0.1em;
}

.content{
    margin-top: 7.5vh;
    height: calc(100vh - 7.5vh);
    box-sizing: border-box;
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
}

.ueberschrift{
    font-family: 'Unbounded';
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 48px;
    background-color: var(--bg);
    box-shadow: 0px 0px 10px 5px var(--bg);
    display: inline-block;
}

.such-form-items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.such-form-items button{
    visibility: hidden;
}

.such-form-items input[type="text"]{
    padding: .5vw;
    padding-left: 2vw;
    border-radius: .5vw;
    border: 1px solid var(--ac);
    outline: none;
    background-color: transparent;
}

.such-form-items .search-icon-wrap{
    color: white;
    display: block;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(75%, -50%);
}

.such-form-items .search-icon-wrap i{
    color: var(--ac);
}

/*============/Animation with side change\===================*/

#animateBall {
    width: 0vw;
    height: 0vw;
    visibility: hidden;
    position: absolute;
    z-index: 100000;
    background-color: var(--bg);
    border-radius: 50vh;
    border: 2px solid var(--ac);
}

.nav .link{
    cursor: pointer;
}

/*===========/Animation with side change [end]\==============*/

/* Cycler */

.cycler{
	width: 100%;
	height: 50vh;
    box-sizing: border-box;
	position: relative;
    padding: var(--lrpad) 0;
}

.card{
	width: calc(100vw - 2 * var(--lrpad));
	height: 40vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1.5vw;
	visibility: hidden;
    box-sizing: border-box;
    color: var(--bg);
    overflow: hidden;
    transition: 500ms;
    user-select: none;
    background-size: cover;

    /* visible design*/

    border: none;
    /* background-color: var(--ac); */
    padding: calc(0.5 * var(--lrpad));

    /* v.d. ende */
}

.card p{
    max-width: 50%;
    line-height: 1.1em;
    font-size: 20px;
}

.card:hover{
    filter: brightness(1.15);
}

#one{



    background-image: url(img/kaktuseis2.png);
    background-position: 0% 37%;

    background-position: 100% 45%;
    background-size: 55%;



}

#two{
    background-image: url(img/flowers.jpg);
    background-position: 0% 70%;
}

#three{

    background-image: url(img/dark.jpg);
    background-position: 30% 50%;

  

}


#four{
    background-image: url(img/topdown.jpg);
    background-position: -20% 40%;
    background-size: 55%;
}

#five{
    background-image: url(img/Natur.jpg);
    background-position: 0% 45%;
}

.act{
	visibility: visible;
	animation-name: cardanim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.out{
	animation-name: out;
	animation-duration: .35s;
	animation-iteration-count: 1;
}

.in{
	animation-name: in;
	animation-duration: 1s;
	animation-iteration-count: 1;
    animation-delay: 0ms;
}





.card .gradient h2, .card .gradient p{
    color: var(--bg);
}

.card .gradient p{
    max-width: 50%;
    font-size: 18px;
    line-height: 2rem;
}

.gradient{
    background: linear-gradient(90deg, var(--ac) 20%, transparent 60%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--lrpad);
    box-sizing: border-box;
}

.arr-icon-wrap{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-170%, -50%) scale(2);
    z-index: 100;
    display: block;
    visibility: hidden;
}

.overview{
    width: 100%;
    box-sizing: border-box;
    margin-top: calc(1.5 * var(--lrpad));
}

.overview .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overview .icons .icon{
    max-width: 20%;
    text-align: center;
} 

.overview .icons .icon .icon-desc{
    font-size: 16px;
    line-height: 1.75em;
    background-color: var(--bg);
    box-shadow: 0px 0px 10px 5px var(--bg);
}

.overview .icons .icon .icon-circle{
    width: 2vw;
    height: 2vw;
    background-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: calc(0.33 * var(--lrpad));
    margin: auto;
    transition: 500ms;
    cursor: pointer;
}

.overview .icons .icon .icon-circle i{
    font-size: 1.25vw;
    color: var(--fg);
}

.overview .icons .icon .icon-circle:hover{
    filter: brightness(1.1);
    transform: scale(1.2);
}

.link:hover{
    transition: 500ms;
    transform: scale(1.1);
    text-shadow: 0px 0px 15px var(--ac);
}

.link{
    transition: 500ms;
}

.mob{
    display: none;
}

.profile-icon{
    width: 4.5vh;
	height: 4.5vh;
    overflow: hidden;
    /* border: 2px solid var(--ac); */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.profile-icon:hover{
    transition: 500ms;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;
}

.submit-wrap{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-wrap .image-selector-submit{
    background-color: var(--ac);
    padding: calc(0.5 * var(--lrpad));
    border: none;
    height: auto;
    width: auto;
    border-radius: 1vw;
    font-size: 16px;
    transition: 500ms;
}

.submit-wrap .image-selector-submit i{
    display: none;
}

.submit-wrap .image-selector-submit:hover i{
    display: inline;
}

.submit-wrap .image-selector-submit:hover{
    filter: brightness(1.2);
}

.image-selector-submit span{

    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; 
}

.image-selector-submit:hover span{

    opacity: 1;
    right: 1;


}


.image-selector-submit{

    transition: 500ms;
}



.profile-icon{
    transition: 500ms;
}

 .profile-image{
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    overflow: visible;
}

.profile-change{
    width: 20vh;
	height: 20vh;
    border: 2px solid var(--ac);
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile-change:hover{
    transition: 500ms;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;
}

.profile-change-img-wrap{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.profile-change{
    transition: 500ms;
    border: 2px solid var(--ac);
}

.auswahl-back {


font-size: 30px;
size: 30px;
overflow: visible;


}

.auswahl-back:hover{
    filter: brightness(1.2);
    transform: translate(0%, 0%) scale(1.05);
    animation-duration: 1000ms;
    animation-name: blinken;
    animation-iteration-count: infinite;
    cursor: pointer;
    
    overflow: visible;

   
}

@keyframes blinken{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(.85);
        opacity: 0.75;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.pfeil {

    font-size: 25px;
    margin-top: -0.5vw;
    margin-bottom: -1.5vw;
}


       
    

/* .profilbildoption{
    animation-name: bild;
    animation-duration: 120s;
    animation-iteration-count: infinite;
} */

/* @keyframes bild{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(10000);
    }
} */

/* SHOP Anfang */

.stift-wrap{
    background-color: var(--ac);
    aspect-ratio: 1 / 1;
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    position: absolute;
    top: 83.5%;
    left: 83.5%;
    z-index: 100;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 275ms;
}

.profile-change:hover .stift-wrap{
    opacity: 1;
}

.stift-wrap:hover{
    filter: brightness(0.9);
}



.feld1 {
    color: black;
}

.form1 {
    color: blue;
}

.card-s {
    transition: 500ms;
    user-select: none;
    white-space: wrap;
    min-width: 35vh;
    box-sizing: border-box;
    margin-left: 0.4vw;
    max-width: 40vh;
    
    
}

 .card-s:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
    
} 

.text-s{

    background-color: var(--bg);
    box-shadow: 0px 0px 10px 5px var(--bg);
    border-radius: 5vw;
}

.card-title-s{

    background-color: var(--bg);
    box-shadow: 0px 0px 10px 5px var(--bg);
    border-radius: 5vw;
}


 #two-s{
    background-image: url(img/kaktuseis2.png);
    background-position: 50% 45%;
    background-size: 250%;

} 

#three-s{
    background-image: url(img/kaktus\ mit\ stiel.jpg);
    background-position: 50% 30%;
    background-size: 100%;
    


}

#four-s{
    background-image: url(img/topf.jpg);
    background-position: 0% 50%;
    background-size: 100%;
    


}

#five-s{
    background-image: url(img/kaktuseis\ im\ becher.png);
    background-position: 50% 50%;
    background-size: 80%;
 
    


}

#six-s{
    background-image: url(img/kissen.jpg);
    background-position: 0% 50%;
    background-size: 98%;
  


} 

#seven-s{
    background-image: url(img/neon.webp);
    background-position: 45% 45%;
    background-size: 110%;
  
    
}

#eight-s{
    background-image: url(img/hut2.png);
    background-position: 50% 50%;
    background-size: 150%;
    
    
}

#one-s{
    background-image: url(img/kappe2.png);
    background-position: 52% 50%;
    background-size: 320%;
    
    
}

.card-s:first-of-type(){
    background-color: red;
} 

.card-s .gradient-s p{
    font-size: 18px;
    line-height: 1.1rem;
    max-width: 100%;
    color: red;
    max-width: 30%;
}



.gradient-s{
    border: thick;
    border-color:#ff7e93;
    border-style:solid;
    background-color:white;
    border-radius: 10%;
    box-sizing: border-box;


    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: visible;
    
}



.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card-s p, .card-s h2{
    max-width: 100%;
    white-space: normal;
}

.fa-solid{
    text-decoration: none;
}

.preis-s {

    text-align:center;
    font-size: 60px;
    letter-spacing: 0.5px;
    border-radius: 1vw;
    border:dotted;
    border-color: rgb(255, 99, 125);
    overflow: visible;
    
}

.warenkorb-icon-wrap{
    width: 3vw;
    aspect-ratio: 1 / 1;
    background-color: rgb(255, 99, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    visibility: hidden;

    position: absolute;
    z-index: 1000;
    top: 95%;
    left: 95%;
    transform: translate(-50%, -50%);
    
}

.warenkorb-icon-wrap i{
    font-size: 1.25vw;
    color: var(--fg);
    
}

.card-s:hover .warenkorb-icon-wrap{
    visibility: visible;
}

.link-s {

    top: 80%;
    left: 100%;
    transform: translate(-50px -90px);

}

/* SHOP Ende */



/* Produkt 1 Anfang */

.card-p1 {
    transition: 500ms;
    user-select: none;
    /* overflow: hidden; */
    white-space: wrap;
    max-width: 60vh;
    box-sizing: border-box;
    position: absolute;
    /* transform: translate(500px,0px); */
}

 /* .card-p1:hover{
    filter: brightness(1.2);
    transform: scale(1.05); */
    



 #one-p1{
    background-image: url(img/kaktuseis2.png);
    background-position: 50% 45%;
    background-size: 250%;
    
} 

.card-p1:first-of-type(){
    background-color: red;
} 

.card-p1 .gradient-p1 p{
    font-size: 18px;
    line-height: 1.1rem;
    max-width: 100%;
    color: red;
}



.gradient-p1{
    border: thick;
    border-color:#ff7e93;
    border-style:solid;
    background-color:white;
    border-radius: 10%;
    box-sizing: border-box;


    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: visible;
}

.cards-p1{
    display: flex;
    gap: calc(2.5 * var(--lrpad));
    align-items: center;
    overflow-x: scroll;
    width: auto;
    height: 140%;
    white-space: nowrap;

}

.card-p1 p, .card-p1 h2{
    max-width: 100%;
    white-space: normal;
}

.fa-solid{
    text-decoration: none;
}

.preis-p1 {

    text-align:center;
    font-size: 60px;
    letter-spacing: 0.5px;
    border-radius: 50%;
    border:dotted;
    border-color: rgb(255, 99, 125);
    overflow: visible;
    
}

.warenkorb-icon-wrap{
    width: 3vw;
    aspect-ratio: 1 / 1;
    background-color: rgb(255, 99, 125);;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    visibility: hidden;

    position: absolute;
    z-index: 1000;
    top: 95%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.warenkorb-icon-wrap i{
    font-size: 1.25vw;
    color: var(--fg);
    
}

.card-p1:hover .warenkorb-icon-wrap{
    visibility: hidden;
}


.button-p1 {
    transition-duration: 0.4s;
    font-size: 30px;
    min-width: 60vh;
    min-height: 10vh;
    color: #A0CE40;
    
    background-color: transparent;
    border-radius: 1vw;
    overflow: visible;
    border: 3px solid var(--ac);

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-p1:hover {

    
        background-color: var(--ac); 
        color: white; 
        text-decoration: underline;
        text-decoration-color: var(--ac);
        text-decoration-thickness: 2px;
        
        animation: warenkorb;
        animation-iteration-count: infinite;
        animation-duration: 1000ms;
        animation-delay: 10ms;
       
}

@keyframes warenkorb{

0% {
    filter: opacity(1);
}
50% {
    filter: opacity(0.7);
}

100% {
    filter: opacity(1);
}
}

.minus {
    font-size: 30px;
    overflow: hidden;
    display: inline-block;

}

.minus:hover{

    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;

}

.plus {
    font-size: 30px;
    overflow: visible;
    display: inline-block;
}

.plus:hover{

    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;

}

.text2-p1 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zahl-p1 {
    font-size: 50px;
}

.zahl-und-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Produkt 1 Ende */





/* Support anfang */

.schrift1 {

font-size: 40px;
color: green;
background-color: var(--bg);
box-shadow: 0px 0px 10px 5px var(--bg);
display: inline-block;


}

.schrift2 {

font-size: 20px;
background-color: var(--bg);
box-shadow: 0px 0px 10px 5px var(--bg);
display: inline-block;

}

.tel1 {

font-size: 20px;
text-decoration: underline;
text-decoration-color: #EB6E6E;
background-color: var(--bg);
box-shadow: 0px 0px 10px 5px var(--bg);
display: inline-block;
}

.tel {

    font-size: 20px;
    border:groove;
    border-color: #A0CE40;
    border-radius: 5%;
    border-width: 3px;
    display: inline-block;
    background-color: var(--bg);
    box-shadow: 0px 0px 10px 5px var(--bg);
    display: inline-block;
}



/* Support Ende */

/* Profil Warenkorb Anfang */

.button-p2 {
    transition-duration: 0.4s;
    font-size: 30px;
    min-width: 40vh;
    min-height: 10vh;
    transform: translate(235px,100px);
    color: white;
    
    background-color: var(--ac); 
    border-radius: 1vw;
    overflow: visible;
    border: 3px solid var(--ac);
    
    
}

.button-p2:hover {

    background-image: url(img/wagen.png);
    background-position: 30%, 40%;
    background-size: 120%;
    background-color: var(--ac); 
    color: transparent; 
   
    
    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;
}





/* Profil Warenkorb Ende */

/* Mein Warenkorb Anfang */


.content-w{
    margin-top: 7.5vh;
    height: calc(100vh - 7.5vh);
    box-sizing: border-box;
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
}

#content-w {
    position: absolute;
    border-radius: 0 0 0 5vh;
    background-color: var(--ac);
    width: 0;
    height: 100%;
    max-height: 40vh;
    margin-right: 0.5vw;
    overflow: hidden;
   
}
#content-w.her {
    color: var(--ac);
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll; 
    border: 2px solid var(--ac);
    border-top: none;
    border-right: none;
    width: 22vw;
    height: 50vh;
    z-index: 10000;
    top: 0;
    left: 100%;
    transform: translate(-100%, calc(7.5vh - 1px));
}

#content-w.her ::-webkit-scrollbar {
    display: none;
}

.contentBoxText-w1 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}
.contentBoxText-w2 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}

.contentBoxText-w3 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}

.contentBoxText-w4 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}

.contentBoxText-w5 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}

.contentBoxText-w6 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}

.contentBoxText-w7 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}

.contentBoxText-w8 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: hidden;
}



.contentBoxText-w1.visible1 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}

.contentBoxText-w2.visible2 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}


.contentBoxText-w3.visible3 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}


.contentBoxText-w4.bell-new-dot {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}

.contentBoxText-w5.visible5 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}
.contentBoxText-w6.visible6 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}

.contentBoxText-w7.visible7 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}

.contentBoxText-w8.visible8 {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
    border: 2px solid var(--ac);
    visibility: visible;
}



.contentBoxText-w:hover {
    background-color: rgb(59, 59, 59);
    padding-bottom: 0.5vh;
}

.contentBoxText2-w {
    white-space: nowrap;
    transition: 250ms;
}

.contentBoxText3-w {
    width: 0;
    height: 0;
    margin: 0;
    margin-top: 0.8vh;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
    animation: none;
    font-size: smaller;
    

    
}
.contentBoxText-w:hover .contentBoxText3-w {
    width: auto;
    height: auto;
    margin-bottom: 2vh;
    animation-name: notification-desc;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    visibility: visible;
}
.contentBoxText-w:hover .contentBoxText2-w {
    transition: 150ms;
    margin-top: 0.5vh;
    margin-bottom: 0.1vh;
}

.text2-w {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:  26%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.text2-w2 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:  26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text2-w3 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:  26%;
    left: 9.5%;
    transform: translate(-50%, -50%);
}

.text2-w4 {
    font-size: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:  7.7%;
    left: 6.5%;
    transform: translate(-50%, -50%);
}

.text2-w4:hover {

    text-decoration: underline;
    text-decoration-color: darkgray;

}

.text2-w5 {
    font-size: 25px;
   
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:  90%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}

.img-w {
    float: right;
    width: 7vh;
    height: 7vh;
    border: 2px solid var(--ac);
    border-width: 50%;
   
    /* font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    left: 92%;
    transform: translate(-50%, -890%); */
    border-radius: 50%; 
}

.img-w2 {
    float: right;
    width: 7vh;
    height: 7vh;
    border: 2px solid var(--ac);
    border-width: 50%;
   
    /* font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: right;
    position:fixed;
    top: 90%;
    left: 92%;
    transform: translate(-50%, -740%); */
    
    border-radius: 50%;
}

.button-profil {
    transition-duration: 0.4s;
    font-size: 30px;
    min-width: 40vh;
    min-height: 10vh;
    transform: translate(200%,70%);
    color: white;
    
    background-color: var(--ac); 
    border-radius: 1vw;
    overflow: visible;
    border: 3px solid var(--ac);
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: inline-block;
    
}

.button-profil:hover {

    background-image: url(img/bezahlen.png);
    background-position: 50%, 50%;
    background-size: 200%;
    background-color: var(--ac); 
    color: transparent; 
   
    
    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;
}


/* Mein Warenkrob Ende */

/* Entdecken Anfang */

.text-e1 {

font-size: 40px;
text-align: center;
transform: translate(0%, -45%);
}

.text-e2 {

    display: inline-block;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--ac);
    padding: 2vw;
    box-sizing: border-box;
    padding-top: 6vw;
    overflow: visible;
    transform: translate(0%, -40%);
    border-radius: 5vw;
}

.text-e3 {

    display: inline-block;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--ac);
    padding: 2vw;
    box-sizing: border-box;
    padding-top: 6vw;
    overflow: visible;
    transform: translate(0%, -50%);
    border-radius: 5vw;
}


.img-e1 {
    
    background-image: url(img/kakteenland.png);
    border: 2px solid var(--ac);
    border-radius: 5vw;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    color: transparent;
    box-sizing: border-box;
    transform: translate(100%, -890%);
    padding-top: 1.5vw;
    padding-right: 2vw;
    background-size: 220%;
    background-position: 0% 50%;
    visibility: visible;
    
}

.img-e1:hover{

    cursor: pointer;
}

.img-e11 {
    
    background-image: url(img/kakteenland.png);
    border: 0px solid var(--ac);
    border-radius: 0vw;
    font-size: 0px;
    text-align: center;
    display: inline-block;
    color: transparent;
    box-sizing: border-box;
   
    
    
    visibility: visible;
    

    padding-top: 0vw;
    padding-right: 0vw;
    transform: translate(0%, 0%);
    background-position: 0% 0%;
    background-size: 0%;
    visibility: hidden;
} 

.img-e11.img {

    background-image: url(img/kakteenland.png);
    border: 2px solid var(--ac);
    border-radius: 5vw;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    color: transparent;
    box-sizing: border-box;
    
    
    
    visibility: visible;
    

    padding-top: 15vw;
    padding-right: 94vw;
    transform: translate(0%, -90%);
    background-position: 0% 70%;
    background-size: 100%;
    visibility: visible;

}

    
    .img-e2 {
        
        background-image: url(img/topfkakteen.png);
        border: 2px solid var(--ac);
        border-radius: 5vw;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        color: transparent;
        box-sizing: border-box;
        transform: translate(100%, -850%);
        padding-top: 1.5vw;
        padding-right: 2vw;
        background-size: 220%;
        background-position: 0% 50%;
        visibility: visible;
        
    }

    .img-e2:hover{

        cursor: pointer;
    }
    
    .img-e22 {
        
        padding-top: 15vw;
        padding-right: 94vw;
        transform: translate(0%, -90%);
        background-position: 0% 70%;
        background-size: 40%;

        background-image: url(img/topfkakteen.png);
        border: 2px solid var(--ac);
        border-radius: 5vw;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        color: transparent;
        box-sizing: border-box;
        visibility: hidden;
    } 

    .img-e22.img2 {
        
        padding-top: 14vw;
        padding-right: 94vw;
        transform: translate(0%, -90%);
        background-position: 0% 70%;
        background-size: 40%;

        background-image: url(img/topfkakteen.png);
        border: 2px solid var(--ac);
        border-radius: 5vw;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        color: transparent;
        box-sizing: border-box;
        visibility: visible;
    } 

    .eintrag2 {
        transform: translate(0%, -20%);

    }

    .img-e3 {
        
        background-image: url(img/kaktusstreifen.jpg);
        border: 2px solid var(--ac);
        border-radius: 5vw;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        color: transparent;
        box-sizing: border-box;
        transform: translate(100%, -1150%);
        padding-top: 1.5vw;
        padding-right: 2vw;
        background-size: 220%;
        background-position: 50% 50%;
        visibility: visible;
        
    }

    .img-e3:hover{

        cursor: pointer;
    }

    .img-e33 {
        
        padding-top: 15vw;
        padding-right: 94vw;
        transform: translate(0%, -90%);
        background-position: 0% 70%;
        background-size: 20%;

        background-image: url(img/topfkakteen.png);
        border: 2px solid var(--ac);
        border-radius: 5vw;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        color: transparent;
        box-sizing: border-box;
        visibility: hidden;
    } 

    

    .img-e33.img3 {
        
        padding-top: 23vw;
        padding-right: 94vw;
        transform: translate(0%, -80%);
        background-position: 0% 70%;
        background-size: 50%;

        background-image: url(img/kaktusstreifen.png);
        border: 2px solid var(--ac);
        border-radius: 5vw;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        color: transparent;
        box-sizing: border-box;
        visibility: visible;
    } 


    .text-e33 {
        font-size: 40px;
        text-align: center;
        transform: translate(0%, -190%);
    }
    .eintrag3 {
    
      
       transform: translate(0%, -55%);

    }
    
    .link-e {

        color: black;
    }
    

/* Entdecken Ende */

/* Kaufen anfang */

.bezahlart {

font-size: 30px;
color: black;
text-align: center;
font-weight: bold;


}


.auswaehlen1{

color: black;
font-size: 30px;
text-align: center;

}

.auswaehlen2 {

color: black;
font-size: 30px;
text-align: center;
}

.button-k {
    transition-duration: 0.4s;
    font-size: 30px;
    min-width: 40vh;
    min-height: 10vh;
    transform: translate(235px,100px);
    color: white;
    
    background-color: var(--ac); 
    border-radius: 1vw;
    overflow: visible;
    border: 3px solid var(--ac);
    font-weight: bold;
    
    
}

.button-k:hover {

    background-image: url(img/geld.png);
    background-position: 50%, 50%;
    background-size: 150%;
    background-color: var(--ac); 
    color: transparent; 
   
    
    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;
}

label::after {
	content: "";
	display: block;
}

input:checked {
  outline: 2px solid var(--ac2);
}

input:checked + label {
  color: var(--ac2);
  font-weight: bold;
}

.text-k{

text-decoration: underline;
font-size: 30px;
text-decoration-color: #EB6E6E;
font-weight: bold;
}

.text-k2 {

    font-size: 25px;

}


.news {

font-size: 30px;

}

.kartenangaben {

    font-size: 30px;
    

}

.ang {

background-color: #303030;
border: 2px solid var(--ac);
font-size: 30px;
border-radius: 0.5vw;

}

.Rechnungsadresse {

display: none;



}

.Rechnungsadresse.show {

display: block;

}

.firma {

    display: none;



}

.firma.vis {

    display: block;

}

.adresse2 {

    display: none;

}

.adresse2.look {

    display: block;

}

.text-k3 {

    text-decoration: underline;
    font-size: 30px;
    text-decoration-color: #EB6E6E;
    font-weight: bold;
    text-align: center;
    
    align-items: right;


}



/* .betrag {

    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: inline-block;
   



} */

/* Kaufen Ende */





.settings:hover{

    cursor: pointer;

}

/* Weiterleitung 1 Anfang */

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid var(--ac2);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px var(--ac);
    width: 90px;
    height: 90px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid var(--ac2);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px var(--ac);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    font-size: 30px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}

/* .loading{


align-items: center;
text-align: center;
transform: translate(50% 50%);
top: -500px;



} */

.block-3  {
    width:800px; height:50px;
    text-align:center; font-size:1em;  
    line-height:50px; 
    color: #000; 
    background:#808080; 
    margin:10px auto;
     border:solid 2px green; 
      border-radius: 5vw;
      font-size: 1em;
      letter-spacing: 1px;
      
      display: block;
      text-align: center;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 rgb(228, 98, 119);
      -webkit-transition: all ease 3s;
      -moz-transition: all ease 3s;
      transition: all linear 2s;
  }
  .block-3.lade {
      box-shadow: inset 1000px 0 0 0 var(--ac);
      color: var(--bg); 
     cursor:pointer; 
     border:solid 2px green; 
     border-radius: 5vw;
  }
  

/* Weiterleitung 2 Ende */


/* Notification alert anfang */


#bell {
    transition: 150ms;
    font-size: 20px;
}

#bell:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bell-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bell-new-dot{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: var(--ac);
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#content {
    position: absolute;
    border-radius: 0 0 0 5vh;
    background-color: var(--bg);
    width: 0;
    /* height: 100%; */
    max-height: 40vh;
    margin-right: 0.5vw;
    overflow: hidden;

}
#content.her {
    color: var(--ac);
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll; 
    border: 2px solid var(--ac);
    border-top: none;
    border-right: none;
    width: 22vw;
    /* height: 50vh; */
    z-index: 10000;
    top: 0;
    left: 100%;
    transform: translate(-100%, calc(7.5vh - 1px));
    cursor: pointer;
}

#content.her ::-webkit-scrollbar {
    display: none;
}

.contentBoxText {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
}

.contentBoxText:hover {
    background-color: rgb(59, 59, 59);
    padding-bottom: 0.5vh;
}

.contentBoxText2 {
    white-space: nowrap;
    transition: 250ms;
}

.contentBoxText3 {
    width: 0;
    height: 0;
    margin: 0;
    margin-top: 0.8vh;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
    animation: none;
    font-size: smaller;
}
.contentBoxText:hover .contentBoxText3 {
    width: auto;
    height: auto;
    margin-bottom: 2vh;
    animation-name: notification-desc;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    visibility: visible;
}
.contentBoxText:hover .contentBoxText2 {
    transition: 150ms;
    margin-top: 0.5vh;
    margin-bottom: 0.1vh;
}

@keyframes notification-desc{
    0%{
        visibility: visible;
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.decline-icon{
    color: #DB0000;
    font-size: 16px;
}

.accept-icon{
    color: var(--ac);
    font-size: 16px;
}

input[type="radio"]{
    visibility: hidden;
}

.form-wrap-profile-change{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bilder{
    flex-direction: column;
}

.fa-solid{
    text-decoration: none;
}

.bilder .reihe{
    display: flex;
    width: 35vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5vw;
}

.pimg-form .reihe .profilbildoption{
    width: 6vw;
    height: 6vw;
    overflow: hidden;
    border-radius: 50%;
    transition: 150ms ease-out;
}

.profilbildoption:hover{
    transition: 500ms;
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;
}

.profilbildoption img{
    height: 100%;
    width: 100;
}

/*==============/Notifikation alert [end]\==============*/









/* Profilseite anfang */

.top-leiste{
    display: flex;
    gap: 2vw;
    height: calc(2px + 20vh);
}

.top-leiste .info-leiste{
    backdrop-filter: brightness(0);
    box-sizing: border-box;
    border-radius: calc(var(--lrpad) * 0.5);
    display: flex;
    width: 40vw;
    overflow: hidden;
    position: relative;
    background-color: #303030;
}

.top-leiste .info-leiste div{
    width: 50%;
    padding: calc(0.5 * var(--lrpad));
}

.top-leiste .info-leiste .info .name{
    font-size: 20px;
}

.top-leiste .info-leiste .info .id-tag{
    font-size: 12px;
}

.top-leiste .info-leiste .info .freunde{
    font-size: 16px;
}

.freunde {

    cursor: pointer;
}

.logout {


    cursor: pointer;
}

.top-leiste .profile-image-container{
    position: relative;
    height: calc(2px + 20vh);
    width: calc(2px + 20vh);
}

.top-leiste .profile-image-container .direct-img-container{
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.top-leiste .profile-image-container .direct-img-container img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.top-leiste .interaction-options button{
    padding: 1vw 2vw;
    border-radius: 1vw;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin-bottom: 0.5vw;
    font-size: 16px;
}

.top-leiste .interaction-options .report, .top-leiste .interaction-options .report i{
    color: #DB0000;
}

.top-leiste .interaction-options .report{
    border: 1px solid #DB0000;
    background: #EB6E6E;
}

.top-leiste .interaction-options .add{
    border: 1px solid var(--ac2);
    background: var(--ac);
}

.top-leiste .interaction-options button{
    transition: 175ms;
}

.top-leiste .interaction-options button:hover{
    filter: brightness(1.175);
    cursor: pointer;
}

.settings-icon-wrap{
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(calc(-60%), 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings{
    position: absolute;
    background-color: var(--bg);
    border: 1px solid var(--ac);
    border-radius: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: var(--lrpad); */
    width: 25vw;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}

.settings .option{
    padding: calc(.5 * var(--lrpad)) calc(1 * var(--lrpad));
    transition: 150ms;
    box-sizing: border-box;
}

.settings .heading{
    border-bottom: 1px solid var(--ac);
    box-sizing: border-box;
    padding: calc(.15 * var(--lrpad)) calc(1 * var(--lrpad));
    position: relative;
}

.settings .heading .close-icon-wrap{
    position: absolute;
    top: 15%;
    left: 93.5%;
    transform: translate(0%, 0%);
}

.settings .heading .close-icon-wrap i{
    font-size: 20px;
    color: var(--fg);
}

.settings .option:hover{
    backdrop-filter: brightness(1.375);
}

.settings .heading .close-icon-wrap i:hover, .settings-icon-wrap i:hover{
    filter: brightness(0.75);
}

.settings .heading .close-icon-wrap i, .settings-icon-wrap i{
    transition: 200ms;
}

/* .settings-menu{
    display: none;
} */

.password-change{
    display: none;
}

.password-change form{
    padding: var(--lrpad);
}

.password-change form input, .password-change form button{
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding: calc(0.33 * var(--lrpad));
    border-radius: 0.5vw;
    outline: none;
}

.password-change form input{
    border: 1px solid var(--ac);
    background-color: transparent;
    margin-bottom: 1vw;
}

.password-change form button{
    background-color: var(--ac);
    border: 1px solid transparent;
    font-size: 16px;
}

/* profilseite ende */
/* 
*{
    filter: blur(0.05vh);
} */

/*=============Log in Box anfang=============*/

.logreg-box{
    position: absolute;
    background-color: var(--bg);
    display: flex;
    border: 1px solid var(--ac);
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: calc(0.5 * var(--lrpad));

    top: calc(-1px + 7.5vh);
    left: 100%;
    transform: translateX(-100%);

    visibility: hidden;
}

.logreg-box form{
    display: flex;
    flex-direction: column;
    gap: calc(0.75 * var(--lrpad));
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
}

.logreg-box form input{
    border: 1px solid var(--ac);
    background: transparent;
    padding: 0.66vw;
    border-radius: 0.5vw;
    color: var(--fg);
    width: 15vw;
    box-sizing: border-box;
}

.logreg-box form button[type="submit"]{
    background-color: var(--ac);
    border: none;
    border-radius: 0.5vw;
    padding: 0.75vw;
    width: 15vw;
    box-sizing: border-box;
    cursor: pointer;
   
}

.gradient-text{
    background: linear-gradient(90deg, var(--ac), var(--ac2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.logreg-header{
    font-size: 22px;
}

@keyframes out{
	0%{
		visibility: visible;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}
	100%{
		visibility: hidden;
		left: -50%;
		/*transform: translate(-50%, -50%) rotate(-25deg);*/
        transform: translate(-50%, -50%);
	}
}

@keyframes in{
	0%{
		visibility: hidden;
		left: 100%;
		top: 50%;
		/* transform: translate(-50%, -50%) rotate(-10deg); */
        transform: translate(-50%, -50%);
	}
	100%{
		visibility: visible;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

#register-form{
    display: none;
}

.switch-options{
    font-size: 12px;
    display: block;
    margin: auto;
    transition: 250ms;
}

.switch-options:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logreg-warning{
    width: 100%;
    background: #EB6E6E;
    display: flex;
    padding: .35vw .75vw;
    box-sizing: border-box;
    align-items: center;
    gap: .5vw;
    border-radius: .5vw;
    border: 2px solid #DB0000;
}

.logreg-warning p{
    font-size: 10px;
}

/*=============log in box ende=============*/

/*===============/Kaktus Quiz\===================*/

#qustSec {
    margin: 0;
    width: 100vw;
    height: 40vh;
}

#qustBox {
    margin: 0;
    margin-top: 7vh;
    width: 50vw;
    height: 30vh;
    border: 2px solid var(--ac);
    border-radius: 2vh;
    position: absolute;
    left: 100%;
    transform: translate(-152%, -0%);
    background-color: var(--bg);
    box-shadow: 0px 0 10px 2px greenyellow;
}

#question {
    margin-top: 10vh;
    text-align: center;
    font-size: larger;
}

/* Fragen */

#allover {
    display: flex;
    width: calc(100vw - 2 * var(--lrpad));
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#allover .side-with-options{
    width: 45%;
}

#answSec {
    margin: 2vh 0;
    width: 100vw;
    height: 43vh;
}

.AnswBox {
    display: inline-flex;
    margin: 0;
    margin-top: 5vh;
    width: calc(100% * 1);
    height: 5vh;
    border: 2px solid var(--ac);
    border-radius: 2vh;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg);
    box-shadow: 0px 0 5px 1px greenyellow;
}

.AnswBox:hover {
    transition: 150ms;
    transform: scale(1.02);
}


.AnswBoxL {
    margin-right: 5vw;
}

.paragrahQuiz {
    align-items: center;
    margin: 0;
    display: block;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.navigation {
    display: inline-flex;
    margin: 0;
    margin-top: 5vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;

    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 30%);
}

.result {
    height: 1.5vh;
    text-align: center;
    margin-left: -5vw;
    margin-top: 7vh;
    color: #A0CE40;
}

.navigation button{
    box-sizing: border-box;
    display: block;
    width: 40%;
    margin: auto 0;
}

.next {
    background-color: transparent;
    cursor: pointer;
    padding: 1vh 0 1vh 0;
    display: inline-flex;
    margin: 0;
    margin-top: 5vh;
    width: auto;
    height: auto;
    border: 2px solid var(--ac);
    border-radius: 2vh;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--bg);
    box-shadow: 0px 0 3px 0.5px greenyellow;
}

.next:hover {
    transition: 250ms;
    transform: scale(1.1);
}

/*===============/Kaktus Quiz [ende]\===================*/

/*===============/Kaktus Baukasten\===================*/

#navKitDiv {
    margin: 0;
    width: 10vw;
    height: 89.9vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    background-color: var(--bg);
    border: 1px solid var(--ac);
    border-radius: 2vh;
    margin-left: -1.5vw;
}
#navKitDiv::-webkit-scrollbar {
    display: none;
}

.KitHeadline {
    margin-top: 1vh;
    text-align: center;
    padding-bottom: 0.5vh;
    border-bottom: 1px solid var(--ac);
    border-radius: 5%;
}

.objKit {
    margin: 0 auto 3vh auto;
    width: 7vw;
    height: 7vw;
    cursor: pointer;
    transition: 150ms;
    opacity: 0.9;
}
.objKit:hover {
    transform: scale(1.05);
    opacity: 1;
}

.ColorSelecter {
    background-color: var(--bg);
    z-index: 100;
}

.KitImg {
    width: 7vw;
    height: 7vw;
    border-radius: 15%;
}

#mainDiv {
    margin: 0;
    margin-left: 11vw;
    height: 88.2vh;
}

/*===============/Kaktus Baukasten [ende]\============*/

/* friends list popup */

/* wehe du kopierst das adrian */

.flp{ /*friends list popup*/
    position: absolute;
    width: 25vw;
    max-height: 25vw;
    border-radius: 2vh;
    background-color: var(--bg);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 1px solid var(--ac);
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
}

.flp .flp-heading{
    width: 100%;
    box-sizing: border-box;
    padding: .5vw 0;
    border-bottom: 1px solid var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flp .flp-friend{
    padding: 0.5vw 2vw;
    transition: 200ms;
}

.flp .flp-friend:hover{
    backdrop-filter: brightness(1.25);
}

.flp .close-friends-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -25%);
}

/* flp ende */


/* komische icons girlande */

.girlanden-icons{
    position: absolute;
    width: calc(100vw - 2 * var(--lrpad));
    z-index: -10;
    opacity: 0.1;
}

/* girlENDE */

/* forum anfang */

.new-posts-container{
    display: block;
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    border-radius: 2vh;
    overflow: hidden;
    border: 1px solid var(--ac);
    position: relative;
}

.new-posts-container .post-preview{
    padding: calc(0.25 * var(--lrpad)) var(--lrpad) calc(0.66 * var(--lrpad)) var(--lrpad);
    transition: 175ms;
    position: relative;
}

.new-posts-container .post-preview:hover{
    backdrop-filter: brightness(1.2);
}

.post-preview .post-title:hover{
    cursor: pointer;
}

.new-posts-container .post-preview:not(:last-of-type){
    border-bottom: 1px solid var(--ac);
}

.post-title{
    font-size: 2.5vh;
}

.post-creator{
    font-size: 1.25vh;
    line-height: 1.25vh;
    font-weight: 400;
}

.post-question{
    font-size: 1.75vh;
    line-height: 2.75vh;
}

.post-side-icons{
    font-size: 1.75vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 85%;
    width: 12.5%;
    transform: translateY(50%);
}

.hot-post, .new-posts-container .post-preview .hot-post i{
    background: linear-gradient(135deg, #ED5F14, #F79B1D);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.post-views, .new-posts-container .post-preview .post-views i{
    background: linear-gradient(135deg, var(--ac), var(--ac2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cold-post, .new-posts-container .post-preview .cold-post i{
    background: linear-gradient(135deg, #4FB8ED, #ACEBFC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.post-interaction-options div:not([class="interaction-option-count"]){
    position: relative;
    transition: 200ms;
}

.post-interaction-options div:not([class="interaction-option-count"]):hover{
    transform: scale(1.1);
}

.post-interaction-options{
    display: flex;
    width: 12.5%;
    justify-content: space-between;
    margin-top: 1.5vw;
}

.post-interaction-options i{
    font-size: 2.25vh;
    transition: 175ms;
}

.post-interaction-options .like-post i:hover{
    color: #DB0000;
}

.post-interaction-options .delete-post i:hover{
    color: #DB0000;
}

.post-interaction-options .share-post i:hover{
    color: #4795D6;
}

.post-interaction-options .comment-post i:hover{
    color: var(--ac);
}

.post-interaction-options .report-post i:hover{
    color: #DB0000;
}

.post-creator:hover{
    cursor: pointer;
}

.post-interaction-options .interaction-option-count{
    position: absolute;
    top: 100%;
    left: 130%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.post-interaction-options .interaction-option-count p{
    font-size: 1vh;
}

.top-forum-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-forum-bar .forum-heading h2{
    font-size: 3.75vh;
    font-family: 'Unbounded';
}

.top-forum-bar .new-post button, .new-post-form button{
    background-color: var(--ac);
    padding: calc(var(--lrpad) * 0.35);
    border: none;
    outline: none;
    border-radius: 1vh;
}

textarea{
    resize: none;
}

.new-post-form{
    position: absolute;
    overflow-y: scroll;
    width: 25vw;
    height: auto;
    max-height: 30vw;
    border-radius: 2vh;
    border: 1px solid var(--ac);
    background: var(--bg);
    padding: calc(0.75 * var(--lrpad)) var(--lrpad);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    visibility: hidden;
}

.new-post-form form{
    display: flex;
    flex-direction: column;
}

.new-post-form input, .new-post-form textarea{
    margin-bottom: 1.5vw;
    border: 1px solid var(--ac);
    color: var(--fg);
    padding: calc(var(--lrpad) * 0.25);
    background-color: transparent;
    border-radius: 1vh;
    height: auto;
    outline: none;
}

.close-new-post-form{
    position: absolute;
    top: 5%;
    left: 95%;
}

.close-new-post-form i{
    font-size: 2vh;
    transition: 150ms;
}

.close-new-post-form i:hover{
    transform: rotate(90deg);
}

.new-post-form textarea{
    height: 10vh;
}

/* post page start */

.post{
    width: 100%;
    border: 1px solid var(--ac);
    border-radius: 2vh;
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.post-new-block{
    border: 1px solid var(--ac);
    border-radius: 2vh;
}

.post-container .post-new-block:not(:last-of-type){
    border-bottom: 1px solid var(--ac);
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.post-container .post-new-block:not(:first-of-type){
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.comments h2{
    padding: calc(.35 * var(--lrpad)) 0 0 var(--lrpad);
}

.comment{
    padding: calc(0.2 * var(--lrpad)) var(--lrpad);
    padding-right: 0;
}

.comment .reply-btn{
    text-decoration: underline;
    font-size: 1.1vh;
    line-height: 1.1vh;
    padding: none;
    padding-bottom: 1.25vh;
    margin: none;
    cursor: pointer;
}

.reply, .comment-self{
    position: relative;
}

.comment-text, .comment-reply{
    /* padding-bottom: 1vh; */
    transition: 175ms;
    font-size: 1.5vh;
    line-height: 1.5vh;
}

.comment:hover{
    backdrop-filter: brightness(1.35);
}

.comment .replies{
    padding-left: calc(.75 * var(--lrpad));
    width: 100%;
    box-sizing: border-box;
}

.username-comment{
    font-size: 1.05vh;
    cursor: pointer;
}

.comment-like-icon{
    display: block;
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translate(-50%, -50%);
}

.comment-like-icon:hover{
    cursor: pointer;
}

.add-comment{
    height: 5vh;
}

.add-comment form{
    width: 100%;
    height: 5vh;
    padding: 0;
    display: flex;
    position: relative;
}

.add-comment form textarea, .add-comment form input{
    height: 5vh;
    box-sizing: border-box;
    padding: .5vw;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 25%;
}

.add-comment form button[type="submit"]{
    width: 10%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: var(--ac);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    height: 3.5vh;

    top: 50%;
    right: 7.5%;
    transform: translate(0%, -50%);
}

.add-comment form textarea ::-webkit-scrollbar{
    display: none;
}

.share-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    padding: 0;
    border: 1px solid var(--ac);
    border-radius: 2vh;
    min-width: 20%;

    height: auto;
    max-height: 45vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    z-index: 1000;
}

.share-popup ::-webkit-scrollbar{
    display: none;
}

.share-popup .friend{
    padding: calc(0.4 * var(--lrpad)) var(--lrpad);
}

.share-popup .share-popup-heading{
    border-bottom: 1px solid var(--ac);
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: var(--bg);
    z-index: 100;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-share-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    overflow: hidden;
    
    position: absolute;
    top: 10%;
    right: 2.5%;
}

.close-share-popup i{
    font-size: 1vw;
    cursor: pointer;
}

.share-popup .friend{
    transition: 250ms;
    position: relative;
}

.share-popup .friend:hover{
    backdrop-filter: brightness(1.25);
}

.share-popup::-webkit-scrollbar{
    display: none;
}

.share-popup .friend .share-icon-wrap{
    position: absolute;
    top: 50%;
    right: 12.5%;
    transform: translateY(-50%);
    background-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(0.175 * var(--lrpad)) calc(0.275 * var(--lrpad));
    border-radius: 0.75vh;
    cursor: pointer;
    filter: brightness(.8);
    transition: 175ms;
}

.share-popup .friend .share-icon-wrap:hover{
    filter: brightness(1);
}

.share-popup .friend .share-icon-wrap i{
    color: var(--bg);
}

/* post page ende */
/* forum ende */

/*NICHT MEHR HIER DRUNTER ÄNDERN!!!!!!*/

/* MOBILE YAY */

@media screen and (max-width: 750px){
    .pc{
        display: none;
    }

    .mob{
        display: block;
    }

    .cycler, .card{
        visibility: hidden;
    }

    .link-box{
        position: absolute;
        width: 66vw;
        display: flex;
        flex-direction: column;
        top: calc(3 * var(--lrpad) + 180%);
        left: 50%;
        padding: calc(3 * var(--lrpad));
        transform: translate(-50%, -50%);
        background: var(--bg);
        border: 1px solid var(--ac);
        border-radius: 2vh;
        z-index: 200;
        display: none;
        visibility: hidden;
        transition: 250ms;
    }

    .menu-trigger{
        width: 7.5vw;
        height: 7.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-trigger i{
        font-size: 5vw;
        transition: 250ms;
    }
}