@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Unbounded:wght@700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: var(--fg);
}

::selection{
    background: var(--ac);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: var(--ac);
}

:root{
    --bg: #202020;
    --fg: #EEEEEE;
    --ac2: #B3E34F;
    --ac: #A0CE40;
    --lrpad: 2.5vw;
}

body, html{
    margin: 0px;
    padding: 0px;
    background: var(--bg);
    overflow-x: hidden;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 7.5vh;
    z-index: 100;
    background-color: var(--bg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ac);
    justify-content: space-between;
    padding: 0 var(--lrpad);
}

.nav .link-box{
    display: flex;
    justify-content: space-between;
    min-width: 40%;
    align-items: center;
}

.nav .link-box a{
    text-decoration: none;
}

.nav .logo-wrap .logo{
    font-family: 'Unbounded';
    font-size: 30px;
    color: var(--ac);
    letter-spacing: 0.1em;
}

.content{
    margin-top: 7.5vh;
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
}

.ueberschrift{
    font-family: 'Unbounded';
    letter-spacing: 0.1em;
    text-decoration: dashed underline;
}

/* Cycler */

.cycler{
	width: 100%;
	height: 50vh;
    box-sizing: border-box;
	position: relative;
    padding: var(--lrpad) 0;
}

.card{
	width: calc(100vw - 2 * var(--lrpad));
	height: 40vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1.5vw;
	visibility: hidden;
    box-sizing: border-box;
    color: var(--bg);
    overflow: hidden;
    transition: 500ms;
    user-select: none;
    background-size: cover;

    /* visible design*/

    border: none;
    /* background-color: var(--ac); */
    padding: calc(0.5 * var(--lrpad));

    /* v.d. ende */
}

.card:hover{
    filter: brightness(1.15);
}

#one{
    background-image: url(img/kaktuseis2.png);
    background-position: 0% 50%;
}

#two{
    background-image: url(img/flowers.jpg);
}

#three{
    background-image: url(img/topdown.jpg);
    background-position: 0% 50%;
}

button{
	width: 100px;
	height: 50px;
}

.act{
	visibility: visible;
	animation-name: cardanim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.out{
	animation-name: out;
	animation-duration: .35s;
	animation-iteration-count: 1;
}

.in{
	animation-name: in;
	animation-duration: 1s;
	animation-iteration-count: 1;
    animation-delay: 0ms;
}

.card-s {
    aspect-ratio: 1 / 1;
	height: 30vh;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
	border-radius: 10%;
    box-sizing: border-box;
    color: var(--bg);
    overflow: hidden;
    transition: 500ms;
    user-select: none;
    background-size: cover;

    /* visible design*/

    border: none;
    /* background-color: var(--ac); */
    padding: calc(0.5 * var(--lrpad));

    /* v.d. ende */
}

.card-s:hover{
    filter: brightness(1.15);
}

#one-s{
    background-image: url(img/kaktuseis2.png);
    background-position: 0% 50%;
}

/* #two-s{
    background-image: url(img/flowers.jpg);
} */

/* #three-s{
    background-image: url(img/topdown.jpg);
    background-position: 0% 50%;
} */



.card .gradient h2, .card .gradient p{
    color: var(--bg);
}

.card .gradient p{
    max-width: 50%;
    font-size: 18px;
    line-height: 2rem;
}

.gradient{
    background: linear-gradient(90deg, var(--ac) 20%, transparent 60%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--lrpad);
    box-sizing: border-box;
}

.arr-icon-wrap{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-170%, -50%) scale(2);
    z-index: 100;
    display: block;
    visibility: hidden;
}

.overview{
    width: 100vw;
    box-sizing: border-box;
    margin-top: calc(1.5 * var(--lrpad));
}

.overview .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overview .icons .icon{
    max-width: 20%;
    text-align: center;
} 

.overview .icons .icon .icon-desc{
    font-size: 16px;
    line-height: 1.75em;
}

.overview .icons .icon .icon-circle{
    width: 2vw;
    height: 2vw;
    background-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: calc(0.33 * var(--lrpad));
    margin: auto;
    transition: 500ms;
}

.overview .icons .icon .icon-circle i{
    font-size: 1.25vw;
    color: var(--fg);
}

.overview .icons .icon .icon-circle:hover{
    filter: brightness(1.1);
    transform: scale(1.2);
}

.link:hover{
    transition: 500ms;
    transform: scale(1.1);
    text-shadow: 0px 0px 15px var(--ac);
}

.link{
    transition: 500ms;
}

.mob{
    display: none;
}


.profile-icon{
    width: 4.5vh;
	height: 4.5vh;
    overflow: hidden;
    /* border: 2px solid var(--ac); */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.profile-icon:hover{
    transition: 500ms;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;

}

.profile-icon{
    transition: 500ms;
}

.profile-image{
    min-width: 100%;
    min-height: 100%;
}


/*===============/Notification alert\===================*/

#bell {
    transition: 150ms;
}

#bell:hover {
    cursor: pointer;
    opacity: 0.8;
}


/*==============/Notifikation alert [end]\==============*/


/*NICHT MEHR HIER DRUNTER ÄNDERN!!!!!!*/

/* MOBILE YAY */

@media screen and (max-width: 750px){
    .pc{
        display: none;
    }

    .mob{
        display: block;
    }

    .cycler, .card{
        visibility: hidden;
    }

    .link-box{
        position: absolute;
        width: 66vw;
        display: flex;
        flex-direction: column;
        top: calc(3 * var(--lrpad) + 180%);
        left: 50%;
        padding: calc(3 * var(--lrpad));
        transform: translate(-50%, -50%);
        background: var(--bg);
        border: 1px solid var(--ac);
        border-radius: 2vh;
        z-index: 200;
        display: none;
        visibility: hidden;
        transition: 250ms;
    }

    .menu-trigger{
        width: 7.5vw;
        height: 7.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-trigger i{
        font-size: 5vw;
        transition: 250ms;
    }
}