@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Unbounded:wght@700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: var(--fg);
}

::selection{
    background: var(--ac);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: var(--ac);
}

:root{
    --bg: #202020;
    --fg: #EEEEEE;
    --ac2: #B3E34F;
    --ac: #A0CE40;
    --lrpad: 2.5vw;
}

img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

body, html{
    margin: 0px;
    padding: 0px;
    background: var(--bg);
    overflow-x: hidden;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 7.5vh;
    z-index: 100;
    background-color: var(--bg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ac);
    justify-content: space-between;
    padding: 0 var(--lrpad);
}

.nav .link-box{
    display: flex;
    justify-content: space-between;
    min-width: 40%;
    align-items: center;
}

.nav .link-box a{
    text-decoration: none;
}

.nav .logo-wrap .logo{
    font-family: 'Unbounded';
    font-size: 30px;
    color: var(--ac);
    letter-spacing: 0.1em;
}

.content{
    margin-top: 7.5vh;
    height: calc(100vh - 7.5vh);
    box-sizing: border-box;
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
}

.ueberschrift{
    font-family: 'Unbounded';
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 48px;
}

.such-form-items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.such-form-items button{
    visibility: hidden;
}

.such-form-items input[type="text"]{
    padding: .5vw;
    padding-left: 2vw;
    border-radius: .5vw;
    border: 1px solid var(--ac);
    outline: none;
    background-color: transparent;
}

.such-form-items .search-icon-wrap{
    color: white;
    display: block;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(75%, -50%);
}

.such-form-items .search-icon-wrap i{
    color: var(--ac);
}

/*============/Animation with side change\===================*/

#animateBall {
    width: 0vw;
    height: 0vw;
    visibility: hidden;
    position: absolute;
    z-index: 100000;
    background-color: var(--bg);
    border-radius: 50vh;
    border: 2px solid var(--ac);
}

#shopPress {
    cursor: pointer;
}

#homePress {
    cursor: pointer;
}

#discoverPress {
    cursor: pointer;
}

#supportPress {
    cursor: pointer;
}

/*===========/Animation with side change [end]\==============*/

/* Cycler */

.cycler{
	width: 100%;
	height: 50vh;
    box-sizing: border-box;
	position: relative;
    padding: var(--lrpad) 0;
}

.card{
	width: calc(100vw - 2 * var(--lrpad));
	height: 40vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1.5vw;
	visibility: hidden;
    box-sizing: border-box;
    color: var(--bg);
    overflow: hidden;
    transition: 500ms;
    user-select: none;
    background-size: cover;

    /* visible design*/

    border: none;
    /* background-color: var(--ac); */
    padding: calc(0.5 * var(--lrpad));

    /* v.d. ende */
}

.card:hover{
    filter: brightness(1.15);
}

#one{
    background-image: url(img/kaktuseis2.png);
    background-position: 0% 50%;
}

#two{
    background-image: url(img/flowers.jpg);
}

#three{
    background-image: url(img/topdown.jpg);
    background-position: 0% 50%;
}

button{
	width: 100px;
	height: 50px;
}

.act{
	visibility: visible;
	animation-name: cardanim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.out{
	animation-name: out;
	animation-duration: .35s;
	animation-iteration-count: 1;
}

.in{
	animation-name: in;
	animation-duration: 1s;
	animation-iteration-count: 1;
    animation-delay: 0ms;
}





.card .gradient h2, .card .gradient p{
    color: var(--bg);
}

.card .gradient p{
    max-width: 50%;
    font-size: 18px;
    line-height: 2rem;
}

.gradient{
    background: linear-gradient(90deg, var(--ac) 20%, transparent 60%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--lrpad);
    box-sizing: border-box;
}

.arr-icon-wrap{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-170%, -50%) scale(2);
    z-index: 100;
    display: block;
    visibility: hidden;
}

.overview{
    width: 100%;
    box-sizing: border-box;
    margin-top: calc(1.5 * var(--lrpad));
}

.overview .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overview .icons .icon{
    max-width: 20%;
    text-align: center;
} 

.overview .icons .icon .icon-desc{
    font-size: 16px;
    line-height: 1.75em;
}

.overview .icons .icon .icon-circle{
    width: 2vw;
    height: 2vw;
    background-color: var(--ac);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: calc(0.33 * var(--lrpad));
    margin: auto;
    transition: 500ms;
}

.overview .icons .icon .icon-circle i{
    font-size: 1.25vw;
    color: var(--fg);
}

.overview .icons .icon .icon-circle:hover{
    filter: brightness(1.1);
    transform: scale(1.2);
}

.link:hover{
    transition: 500ms;
    transform: scale(1.1);
    text-shadow: 0px 0px 15px var(--ac);
}

.link{
    transition: 500ms;
}

.mob{
    display: none;
}

.profile-icon{
    width: 4.5vh;
	height: 4.5vh;
    overflow: hidden;
    /* border: 2px solid var(--ac); */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile-icon:hover{
    transition: 500ms;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;
}

.submit-wrap{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-wrap .image-selector-submit{
    background-color: var(--ac);
    padding: calc(0.5 * var(--lrpad));
    border: none;
    height: auto;
    width: auto;
    border-radius: 1vw;
    font-size: 16px;
    transition: 500ms;
}

.submit-wrap .image-selector-submit i{
    display: none;
}

.submit-wrap .image-selector-submit:hover i{
    display: inline;
}

.submit-wrap .image-selector-submit:hover{
    filter: brightness(1.2);
}

.image-selector-submit span{

    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; 
}

.image-selector-submit span:after {

    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;  
}


.image-selector-submit:hover span{

    opacity: 1;
    right: 1;


}




.profile-icon{
    transition: 500ms;
}

 .profile-image{
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    overflow: visible;
}

.profile-change{
    width: 20vh;
	height: 20vh;
    border: 2px solid var(--ac);
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile-change:hover{
    transition: 500ms;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;
}

.profile-change-img-wrap{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.profile-change{
    transition: 500ms;
    border: 2px solid var(--ac);
}

.auswahl-back {

display: inline-block;

}

.auswahl-back:hover{
    filter: brightness(1.2);
    transform: translate(0px, 0px) scale(1.05);
    animation-duration: 1000ms;
    animation-name: blinken;
    animation-iteration-count: infinite;
}

@keyframes blinken{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(.85);
        opacity: 0.75;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* .profilbildoption{
    animation-name: bild;
    animation-duration: 120s;
    animation-iteration-count: infinite;
} */

/* @keyframes bild{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(10000);
    }
} */

/* SHOP Anfang */

.stift-wrap{
    background-color: var(--ac);
    aspect-ratio: 1 / 1;
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    position: absolute;
    top: 83.5%;
    left: 83.5%;
    z-index: 100;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 275ms;
}

.profile-change:hover .stift-wrap{
    opacity: 1;
}

.stift-wrap:hover{
    filter: brightness(0.9);
}

/* SHOP Anfang */

.feld1 {
    color: black;
}

.form1 {
    color: blue;
}

.card-s {
    transition: 500ms;
    user-select: none;
    /* overflow: hidden; */
    white-space: wrap;
    min-width: 35vh;
    box-sizing: border-box;
<<<<<<< HEAD
 
=======
    margin-left: 0.4vw;
>>>>>>> 77fe0636fd8935a2c5f355525c8b7e09958b9dc8
}

 .card-s:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
    
} 


 #two-s{
    background-image: url(img/kaktuseis2.png);
    background-position: 50% 45%;
    background-size: 250%;
    
} 

#three-s{
    background-image: url(img/kaktus\ mit\ stiel.jpg);
    background-position: 50% 30%;
    background-size: 100%;
    


}

#four-s{
    background-image: url(img/topf.jpg);
    background-position: 0% 50%;
    background-size: 100%;
    


}

#five-s{
    background-image: url(img/kaktuseis\ im\ becher.png);
    background-position: 50% 50%;
    background-size: 80%;
    


}

#six-s{
    background-image: url(img/kissen.jpg);
    background-position: 0% 50%;
    background-size: 98%;
    


} 

#seven-s{
    background-image: url(img/neon.webp);
    background-position: 45% 45%;
    background-size: 110%;
    
    
}

#eight-s{
    background-image: url(img/hut2.png);
    background-position: 50% 50%;
    background-size: 150%;
    
    
}

#one-s{
    background-image: url(img/kappe2.png);
    background-position: 52% 50%;
    background-size: 320%;
    
    
}

.card-s:first-of-type(){
    background-color: red;
} 

.card-s .gradient-s p{
    font-size: 18px;
    line-height: 1.1rem;
    max-width: 100%;
    color: red;
}



.gradient-s{
    border: thick;
    border-color:#ff7e93;
    border-style:solid;
    background-color:white;
    border-radius: 10%;
    box-sizing: border-box;


    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: visible;
}

.cards{
    display: flex;
    gap: calc(2.5 * var(--lrpad));
    align-items: center;
    overflow-x: scroll;
    width: auto;
    height: 50vw;
    white-space: nowrap;
    /* overflow-x: visible; */
}

.card-s p, .card-s h2{
    max-width: 100%;
    white-space: normal;
}

.fa-solid{
    text-decoration: none;
}

.preis-s {

    text-align:center;
    font-size: 60px;
    letter-spacing: 0.5px;
    border-radius: 50%;
    border:dotted;
    border-color: rgb(255, 99, 125);
    overflow: visible;
    
}

.warenkorb-icon-wrap{
    width: 3vw;
    aspect-ratio: 1 / 1;
    background-color: #592C59;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    visibility: hidden;

    position: absolute;
    z-index: 1000;
    top: 95%;
    left: 95%;
    transform: translate(-50%, -50%);
    
}

.warenkorb-icon-wrap i{
    font-size: 1.25vw;
    color: turquoise;
    
}

.card-s:hover .warenkorb-icon-wrap{
    visibility: visible;
}


/* SHOP Ende */



/* Produkt 1 Anfang */

.card-p1 {
    transition: 500ms;
    user-select: none;
    /* overflow: hidden; */
    white-space: wrap;
    max-width: 60vh;
    box-sizing: border-box;
    position: absolute;
    /* transform: translate(500px,0px); */
}

 .card-p1:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
    
} 


 #one-p1{
    background-image: url(img/kaktuseis2.png);
    background-position: 50% 45%;
    background-size: 250%;
    
} 

.card-p1:first-of-type(){
    background-color: red;
} 

.card-p1 .gradient-p1 p{
    font-size: 18px;
    line-height: 1.1rem;
    max-width: 100%;
    color: red;
}



.gradient-p1{
    border: thick;
    border-color:#ff7e93;
    border-style:solid;
    background-color:white;
    border-radius: 10%;
    box-sizing: border-box;


    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: visible;
}

.cards-p1{
    display: flex;
    gap: calc(2.5 * var(--lrpad));
    align-items: center;
    overflow-x: scroll;
    width: auto;
    height: 50vw;
    white-space: nowrap;
}

.card-p1 p, .card-p1 h2{
    max-width: 100%;
    white-space: normal;
}

.fa-solid{
    text-decoration: none;
}

.preis-p1 {

    text-align:center;
    font-size: 60px;
    letter-spacing: 0.5px;
    border-radius: 50%;
    border:dotted;
    border-color: rgb(255, 99, 125);
    overflow: visible;
    
}

.warenkorb-icon-wrap{
    width: 3vw;
    aspect-ratio: 1 / 1;
    background-color: #592C59;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    visibility: hidden;

    position: absolute;
    z-index: 1000;
    top: 95%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.warenkorb-icon-wrap i{
    font-size: 1.25vw;
    color: turquoise;
    
}

.card-p1:hover .warenkorb-icon-wrap{
    visibility: hidden;
}


.button-p1 {
    transition-duration: 0.4s;
    font-size: 30px;
    min-width: 60vh;
    min-height: 10vh;
    transform: translate(600px,-700px);
    color: #A0CE40;
    
    background-color: transparent;
    border-radius: 1vw;
    overflow: visible;
    border: 3px solid var(--ac);
}

.button-p1:hover {

    
        background-color: var(--ac); 
        color: white; 
        text-decoration: underline;
        text-decoration-color: var(--ac);
        text-decoration-thickness: 2px;
        
        animation: warenkorb;
        animation-iteration-count: infinite;
        animation-duration: 1000ms;
        animation-delay: 10ms;
       
}

@keyframes warenkorb{

0% {
    filter: opacity(1);
}
50% {
    filter: opacity(0.7);
}

100% {
    filter: opacity(1);
}
}

.minus {

    transform: translate(670px,-790px);
    font-size: 30px;
    overflow: hidden;
    display: inline-block;

}

.minus:hover{

    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;

}

.plus {

    transform: translate(990px,-800px);
    font-size: 30px;
    overflow: visible;
    display: inline-block;

}

.plus:hover{

    animation: warenkorb;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-delay: 10ms;

}

.text2-p1 {

    transform: translate(810px,-695px);
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--ac);
}

.zahl-p1 {

    transform: translate(845px,-695px);
    font-size: 50px;


}
/* Produkt 1 Ende */





/* Support anfang */

.schrift1 {

font-size: 40px;
color: green;

}

.schrift2 {

font-size: 20px;

}

.tel1 {

font-size: 20px;
text-decoration: underline;
text-decoration-color: #EB6E6E;
}

.tel {

    font-size: 20px;
    border:groove;
    border-color: #A0CE40;
    border-radius: 5%;
    border-width: 3px;
    display: inline-block;
}



/* Support Ende */

#bell {
    transition: 150ms;
}

#bell:hover {
    cursor: pointer;
    opacity: 0.8;
}

#content {
    position: absolute;
    border-radius: 0 0 0 5vh;
    background-color: var(--bg);
    width: 0;
    height: 100%;
    max-height: 40vh;
    margin-right: 0.5vw;
    overflow: hidden;
}
#content.her {
    color: var(--ac);
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll; 
    border: 2px solid var(--ac);
    border-top: none;
    border-right: none;
    width: 22vw;
    height: 50vh;
    z-index: 10000;
    top: 0;
    left: 100%;
    transform: translate(-100%, calc(7.5vh - 1px));
}

#content.her ::-webkit-scrollbar {
    display: none;
}

.contentBoxText {
    margin: 0;
    padding: 0.9vh 1vw 0.9vh 1.75vw;
    display: block;
    align-items: center;
    transition: 150ms;
}

.contentBoxText:hover {
    background-color: rgb(59, 59, 59);
    padding-bottom: 0.5vh;
}

.contentBoxText2 {
    white-space: nowrap;
    transition: 250ms;
}

.contentBoxText3 {
    width: 0;
    height: 0;
    margin: 0;
    margin-top: 0.8vh;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
    animation: none;
    font-size: smaller;
}
.contentBoxText:hover .contentBoxText3 {
    width: auto;
    height: auto;
    margin-bottom: 2vh;
    animation-name: notification-desc;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    visibility: visible;
}
.contentBoxText:hover .contentBoxText2 {
    transition: 150ms;
    margin-top: 0.5vh;
    margin-bottom: 0.1vh;
}

@keyframes notification-desc{
    0%{
        visibility: visible;
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

input[type="radio"]{
    visibility: hidden;
}

.form-wrap-profile-change{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bilder{
    flex-direction: column;
}

.fa-solid{
    text-decoration: none;
}

.bilder .reihe{
    display: flex;
    width: 35vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5vw;
}

.pimg-form .reihe .profilbildoption{
    width: 7vw;
    height: 7vw;
    overflow: hidden;
    border-radius: 50%;
    transition: 150ms ease-out;
}

.profilbildoption:hover{
    transition: 500ms;
    box-shadow: 0px 0px 10px 1px var(--ac);
    border-radius: 50%;
}

.profilbildoption img{
    height: 100%;
    width: 100%;
}

/*==============/Notifikation alert [end]\==============*/

/* Profilseite anfang */

.top-leiste{
    display: flex;
    gap: 2vw;
    height: calc(2px + 20vh);
}

.top-leiste .info-leiste{
    backdrop-filter: brightness(1.75);
    box-sizing: border-box;
    border-radius: calc(var(--lrpad) * 0.5);
    display: flex;
    width: 40vw;
    overflow: hidden;
    align-items: center;
}

.top-leiste .info-leiste div{
    width: 50%;
    padding: calc(0.5 * var(--lrpad));
    display: flex;
    flex-direction: column;
}

.top-leiste .info-leiste .info .name{
    font-size: 20px;
}

.top-leiste .info-leiste .info .id-tag{
    font-size: 12px;
}

.top-leiste .info-leiste .info .freunde{
    font-size: 16px;
}

.top-leiste .info-leiste .interaction-options .report{
    color: #EA3434;
}

.top-leiste .profile-image-container{
    position: relative;
    height: calc(2px + 20vh);
    width: calc(2px + 20vh);
}

.top-leiste .profile-image-container .direct-img-container{
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.top-leiste .profile-image-container .direct-img-container img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    width: auto;
    height: auto;
}

/* profilseite ende */
/* 
*{
    filter: blur(0.05vh);
} */

/*=============Log in Box anfang=============*/

.logreg-box{
    position: absolute;
    background-color: var(--bg);
    display: flex;
    border: 1px solid var(--ac);
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: calc(0.5 * var(--lrpad));

    top: calc(-1px + 7.5vh);
    left: 100%;
    transform: translateX(-100%);

    visibility: hidden;
}

.logreg-box form{
    display: flex;
    flex-direction: column;
    gap: calc(0.75 * var(--lrpad));
    padding: calc(0.5 * var(--lrpad)) var(--lrpad);
}

.logreg-box form input{
    border: 1px solid var(--ac);
    background: transparent;
    padding: 0.66vw;
    border-radius: 0.5vw;
    color: var(--fg);
    width: 15vw;
    box-sizing: border-box;
}

.logreg-box form button[type="submit"]{
    background-color: var(--ac);
    border: none;
    border-radius: 0.5vw;
    padding: 0.75vw;
    width: 15vw;
    box-sizing: border-box;
}

.gradient-text{
    background: linear-gradient(90deg, var(--ac), var(--ac2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.logreg-header{
    font-size: 22px;
}

@keyframes out{
	0%{
		visibility: visible;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}
	100%{
		visibility: hidden;
		left: -50%;
		/*transform: translate(-50%, -50%) rotate(-25deg);*/
        transform: translate(-50%, -50%);
	}
}

@keyframes in{
	0%{
		visibility: hidden;
		left: 100%;
		top: 50%;
		/* transform: translate(-50%, -50%) rotate(-10deg); */
        transform: translate(-50%, -50%);
	}
	100%{
		visibility: visible;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

#register-form{
    display: none;
}

.switch-options{
    font-size: 12px;
    display: block;
    margin: auto;
    transition: 250ms;
}

.switch-options:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logreg-warning{
    width: 100%;
    background: #EB6E6E;
    display: flex;
    padding: .35vw .75vw;
    box-sizing: border-box;
    align-items: center;
    gap: .5vw;
    border-radius: .5vw;
    border: 2px solid #DB0000;
}

.logreg-warning p{
    font-size: 10px;
}

/*=============log in box ende=============*/

/*===============/Kaktus Quiz\===================*/

#qustSec {
    margin: 0;
    width: 100vw;
    height: 40vh;
}

#qustBox {
    margin: 0;
    margin-top: 5vh;
    width: 50vw;
    height: 30vh;
    border: 2px solid var(--ac);
    border-radius: 2vh;
    position: absolute;
    left: 100%;
    transform: translate(-150%, -0%);
}

#question {
    margin-top: 10vh;
    text-align: center;
    font-size: larger;
}

/* Fragen */

#allover {
    left: 100%;
    transform: translate(5%, 0);
}

#answSec {
    margin: 0;
    width: 100vw;
    height: 43vh;
}

.AnswBox {
    display: inline-flex;
    margin: 0;
    margin-top: 5vh;
    width: 40vw;
    height: 5vh;
    border: 2px solid var(--ac);
    border-radius: 2vh;
    align-items: center;
    cursor: pointer;
}

.AnswBoxL {
    margin-right: 5vw;
}

.paragrahQuiz {
    align-items: center;
    margin: 0;
    margin-left: 1.5vw;
    display: block;
}


/*===============/Kaktus Quiz [ende]\===================*/

/*NICHT MEHR HIER DRUNTER ÄNDERN!!!!!!*/

/* MOBILE YAY */

@media screen and (max-width: 750px){
    .pc{
        display: none;
    }

    .mob{
        display: block;
    }

    .cycler, .card{
        visibility: hidden;
    }

    .link-box{
        position: absolute;
        width: 66vw;
        display: flex;
        flex-direction: column;
        top: calc(3 * var(--lrpad) + 180%);
        left: 50%;
        padding: calc(3 * var(--lrpad));
        transform: translate(-50%, -50%);
        background: var(--bg);
        border: 1px solid var(--ac);
        border-radius: 2vh;
        z-index: 200;
        display: none;
        visibility: hidden;
        transition: 250ms;
    }

    .menu-trigger{
        width: 7.5vw;
        height: 7.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-trigger i{
        font-size: 5vw;
        transition: 250ms;
    }
}



